@import '../../less/variables.less';

*,
*:focus {
    outline: none;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.editor {
    position: fixed;
    display: grid;
    min-width: 400px;
    max-width: 400px;
    background-color: #1d1d1d;
    border: 5px solid #3a3a3a;
    height: auto;
    user-select: none;
    left: 50px;
    top: 10vh;
    box-shadow: 0px 0px 5px 0px black;
    align-content: flex-start;
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(20, 20, 20, 0.75);
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: lighten(@contrast, 10%);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
}
