@import '../css/common.css';

*,
*:focus {
    outline: none;
    user-select: none !important;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: hidden;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100vw;
    position: relative;
    animation: fadein ease 0.75s;
}

#app {
    opacity: 1;
}

.spinner {
    position: absolute;
    animation: spin 1s linear infinite;
}

.panel {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    min-width: 350px;
    max-width: 35vh;
    min-height: calc(100vh);
    max-height: calc(100vh);
    animation: slideinleft ease 0.75s;
}

.content {
    display: block;
    overflow-y: scroll;
    direction: rtl;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    direction: ltr;
    height: 100%;
}

.content-no-scroll {
    display: block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.toolbar {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.split-close {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

input {
    width: 100%;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    margin: 6px 0px;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.v-input input {
    border: 2px solid transparent !important;
}

.v-input input:active {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
}

.v-input input:focus,
.v-input input:focus-within {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
    caret-color: white !important;
}

.button-group {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    width: 100%;
    overflow: hidden;
}

.outline-round {
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.outline-transparent {
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0);
}

button {
    font-size: 16px;
    padding: 6px 0vw;
    font-variant: small-caps;
    transition: 0.1s;
    opacity: 0.75;
    overflow: hidden;
    outline: hidden !important;
}

button:hover {
    opacity: 1;
}

button:active {
    color: white !important;
    transform: unset !important;
    background: rgba(0, 0, 0, 0.3);
    outline: none !important;
}

.stack {
    display: flex;
    flex-direction: column;
}

.active {
    background: rgba(0, 0, 0, 0.3) !important;
    opacity: 1 !important;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: unset;
    }
}

@keyframes slideinleft {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: unset;
    }
}
