node_modules
altv-server
resources
*.dll
*.exe
update.json
modules/
data/
*.log
cache/
athena.json
configDiscord
configLoadOrder
configMongoDB
.env
crashdumps
./screenshots/*
cdn_upload
tsconfig.tsbuildinfo
athena-cache/