node_modules
altv-server
resources
*.dll
*.exe
update.json
modules/
data/
*.log
cache/
athena.json
configDiscord
configLoadOrder
configMongoDB
.env
crashdumps
./screenshots/*
src/core/plugins/sandbox
cdn_upload
tsconfig.tsbuildinfo
athena-cache/
node_modules
.DS_Store
dist
dist-ssr
*.local
!altv-athena-hwid-win.exe
server.cfg
doc
typedoc.json
!scripts/streamer/dist
package-lock.json

# Plugin stuff
/src/core/plugins/athena/**/*.ts
/scripts/buildresource/*.json

# Yarn stuff
.yarn/
yarn.lock