.app-bank {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    animation: fadeapp 0.5s;
    min-height: 680px;
    max-height: 680px;
    width: 100%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;

    .app-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font-family: 'Inter' !important;
        overflow: hidden;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            width: 100%;
            min-height: 35px;
            max-height: 35px;
            background: rgba(0, 0, 0, 0.5);
        }

        .main-screen {
            display: flex;
            flex-direction: column;
            min-width: 360px;
            min-height: 740px - 35px;
            max-height: 740px - 35px;
            border-bottom-right-radius: 40px;
            overflow-y: scroll;
            border-left: 30px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            border-bottom-left-radius: 40px !important;

            .split {
                display: flex;
                flex-grow: 1;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}

@keyframes fadeapp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
