@font-face {
	font-family: 'Varela Round';
	font-style: normal;
	font-weight: 400;
	src: url('../font/varela-round-v12-latin-regular.eot');
	src: local('Varela Round Regular'), local('VarelaRound-Regular'),
		url('../font/varela-round-v12-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		url('../font/varela-round-v12-latin-regular.woff2') format('woff2'),
		url('../font/varela-round-v12-latin-regular.woff') format('woff'),
		url('../font/varela-round-v12-latin-regular.ttf') format('truetype'),
		url('../font/varela-round-v12-latin-regular.svg#VarelaRound')
			format('svg');
}
:root {
	--border: rgb(0, 0, 0);
	--font: #fff;
	--background: rgb(37, 105, 150);
	--fav: rgb(25, 70, 100);
	--fav-dark: rgb(17, 47, 66);
	--red: rgb(207, 102, 102);
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', Helvetica, sans-serif;
}
*:focus {
	outline: none;
}
body {
	font-size: 1vw;
	overflow: hidden;
}
h5 {
	text-align: center;
	font-size: 1vw;
}
#smartphone {
	color: var(--font);
	background-color: var(--background);
	position: absolute;
	width: 15vw;
	height: 30vw;
	border: 0.2vw solid var(--border);
	right: 2vw;
	bottom: -29vw;
	border-radius: 0.75vw;
	box-shadow: 0 0 1vw var(--border);
	opacity: 0.5;
}
#head {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1vw;
	font-size: 0.7vw;
}
#head > div {
	text-align: center;
	padding-top: 0.25vw;
}
#notch {
	background-color: #000;
	min-height: 100%;
	border-bottom-left-radius: 0.5vw;
	border-bottom-right-radius: 0.5vw;
	width: 50%;
}
#clock,
#headInfo {
	width: 25%;
}
#headInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#headInfo i {
	padding: 0.5vw;
}
#homeScreen {
	min-height: calc(100% - 1vw);
	position: relative;
}
#appScreen {
	min-height: calc(100% - 5vw);
	max-height: calc(100% - 5vw);
	overflow: auto;
	padding: 0.5vw;
	position: relative;
}
#appScreen::-webkit-scrollbar {
	display: none;
}
input[type='text'] {
	width: calc(100% - 0.5vw);
	margin: 0.25vw 0;
	background-color: var(--fav-dark);
	border: 0;
	padding: 0.25vw;
	color: var(--font);
	border-radius: 0.25vw;
	font-size: 0.75vw;
}
#homeButton {
	position: absolute;
	bottom: 0;
	width: 2vw;
	height: 2vw;
	left: calc(100% / 2 - 1vw);
	bottom: 0;
	border: 0.1vw solid #000;
	border-radius: 100%;
	background-color: #000;
	opacity: 0.25;
	margin: 0.5vw 0;
}
#homeButton:hover {
	opacity: 0.5;
	cursor: pointer;
}
#appScreen,
#homeButton {
	display: none;
}
#fav,
#apps {
	display: flex;
	align-items: center;
	justify-content: center;
}
#apps {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}
#fav {
	position: absolute;
	bottom: 0;
	width: calc(100% - 0.5vw);
	margin: 0.25vw;
	height: 3vw;
	background-color: var(--fav);
	border-radius: 1vw;
}
.app {
	background-color: #000;
	width: 2.75vw;
	height: 2.75vw;
	margin: 0.5vw;
	border-radius: 0.5vw;
	text-align: center;
	font-size: 1.5vw;
	line-height: 3vw;
	cursor: pointer;
	position: relative;
	user-select: none;
}
.app:hover {
	opacity: 0.75;
}
#fav > .app {
	margin: 0.25vw;
	width: 2.5vw;
	height: 2.5vw;
	line-height: 2.75vw;
}
#appPhoneButton {
	background-color: rgb(22, 109, 19);
}
#appContactsButton {
	background-color: rgb(21, 141, 115);
}
#appMessagesButton {
	background-color: rgb(172, 109, 50);
}
#appAirplaneButton {
	background-color: rgb(34, 132, 189);
}
#appChargeButton {
	background-color: rgb(23, 153, 56);
}
#appWeatherButton {
	background-color: rgb(81, 158, 177);
}
#appGpsButton {
	background-color: rgb(59, 112, 212);
}
#appCalenderButton {
	background-color: rgb(51, 51, 51);
}
.contact {
	cursor: pointer;
}
#appContactsList > div {
	border-bottom: 0.05vw solid rgb(50, 121, 165);
	padding: 0.25vw;
	font-size: 0.75vw;
}
#appContactsEdit {
	display: none;
}
#appContactsOverview {
	display: none;
}
#editContactHead {
	font-size: 0.75vw;
	cursor: pointer;
	width: 50%;
}
#editContactLetter,
#editContactButtons > div {
	width: 3vw;
	height: 3vw;
	background-color: rgb(182, 182, 182);
	border-radius: 100%;
	margin-left: calc(100% / 2 - 1.5vw);
	text-align: center;
	font-size: 2vw;
	opacity: 0.7;
	display: flex;
	align-items: center;
	justify-content: center;
}
#editContactButtons {
	width: 75%;
	margin: 1vw auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#editContactDeleteButton {
	color: var(--red);
}
#editContactButtons > div {
	cursor: pointer;
	font-size: 1vw;
	width: 2.5vw;
	height: 2.5vw;
	margin-left: 0;
	opacity: 1;
	background-color: var(--fav);
}
#editContactButtons > div:hover {
	opacity: 0.7;
}
#editContactName {
	margin-top: 1vw;
	text-align: center;
}
