<!DOCTYPE html>
    <head>
        <title>Clothing Selection by Stuyk</title>
        <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/vuetify.min.css" />
        <link rel="stylesheet/less" type="text/css" href="./style.less" />
        <link rel="stylesheet" type="text/css" href="../../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app" >
            <v-app v-cloak>
                <div class="center">
                    <div class="panel pa-3 grey darken-4 transparent elevation-6 rounded">
                        <div class="titleWrapper mb-3">
                            <v-btn class="orange--text" outlined text small v-on:click.native="decrementIndex">
                                <v-icon small>icon-chevron-left</v-icon>
                            </v-btn>
                            <div class="subtitle-2">
                                {{ components[componentIndex].name }}
                            </div>
                            <v-btn class="orange--text" outlined text small v-on:click.native="incrementIndex">
                                <v-icon small>icon-chevron-right</v-icon>
                            </v-btn>
                        </div>
                        <v-divider></v-divider>
                        <div class="contentWrapper pt-3 pb-3">
                            <template v-if="components[componentIndex].drawables.length <= 1">
                                <div class="group mb-3">
                                    <div class="caption flex-grow-1">
                                        Drawable
                                    </div>
                                    <v-btn class="light-blue--text mr-3" outlined text small v-on:click.native="decrementComponent(0, 'drawables')">
                                        <v-icon small>icon-chevron-left</v-icon>
                                    </v-btn>
                                    <v-chip class="overline white--text mr-3 center" style="max-width: 100px; min-width: 100px;" outlined label>{{ components[componentIndex].drawables[0] }}/{{ components[componentIndex].maxDrawables[0] }}</v-chip>
                                    <v-btn class="light-blue--text" outlined text small v-on:click.native="incrementComponent(0, 'drawables')">
                                        <v-icon small>icon-chevron-right</v-icon>
                                    </v-btn>
                                </div>
                                <div class="group">
                                    <div class="caption flex-grow-1 pr-6 pl-6">
                                        Texture
                                    </div>
                                    <v-btn class="light-blue--text mr-3" outlined text small v-on:click.native="decrementComponent(0, 'textures')">
                                        <v-icon small>icon-chevron-left</v-icon>
                                    </v-btn>
                                    <v-chip class="overline white--text mr-3 flex-grow-1 center" style="max-width: 100px; min-width: 100px;" outlined label>{{ components[componentIndex].textures[0] }}/{{ components[componentIndex].maxTextures[0] }}</v-chip>
                                    <v-btn class="light-blue--text" outlined text small v-on:click.native="incrementComponent(0, 'textures')">
                                        <v-icon small>icon-chevron-right</v-icon>
                                    </v-btn>
                                </div>
                            </template>
                            <template v-else>
                                <div class="groupWrapper mb-3" v-for="(drawable, index) in components[componentIndex].drawables" :key="index">
                                    <div class="overline mb-3">
                                        {{ shirtNames[index] }}
                                    </div>
                                    <div class="group mb-3">
                                        <div class="caption flex-grow-1 mr-3">
                                            Drawable
                                        </div>
                                        <v-btn class="light-blue--text mr-3" outlined text small v-on:click.native="decrementComponent(index, 'drawables')">
                                            <v-icon small>icon-chevron-left</v-icon>
                                        </v-btn>
                                        <v-chip class="light-white--text mr-3 flex-grow-1 center" style="max-width: 100px; min-width: 100px;" label outlined>{{ components[componentIndex].drawables[index] }}/{{ components[componentIndex].maxDrawables[index] }}</v-chip>
                                        <v-btn class="light-blue--text" outlined text small v-on:click.native="incrementComponent(index, 'drawables')">
                                            <v-icon small>icon-chevron-right</v-icon>
                                        </v-btn>
                                    </div>
                                    <div class="group">
                                        <div class="caption flex-grow-1 mr-3">
                                            Texture
                                        </div>
                                        <v-btn class="light-blue--text mr-3" outlined text small v-on:click.native="decrementComponent(index, 'textures')">
                                            <v-icon small>icon-chevron-left</v-icon>
                                        </v-btn>
                                        <v-chip class="white--text mr-3 center" style="max-width: 100px; min-width: 100px;" label outlined>{{ components[componentIndex].textures[index] }}/{{ components[componentIndex].maxTextures[index] }}</v-chip>
                                        <v-btn class="light-blue--text" outlined text small v-on:click.native="incrementComponent(index, 'textures')">
                                            <v-icon small>icon-chevron-right</v-icon>
                                        </v-btn>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <v-divider></v-divider>
                        <div class="footer contentWrapper pt-3">
                            <div class="group pb-3">
                                <v-chip class="light-blue--text mr-3" label outlined>Item Cost</v-chip>
                                <div class="subtitle-2 cash flex-grow-1">
                                    ${{ cost }}
                                </div>
                            </div>
                            <div class="group pb-3">
                                <v-divider></v-divider>
                            </div>
                            <div class="group flex-grow-1" block></div>
                            <div class="group pb-3">
                                <v-text-field
                                    label="Item Name"
                                    :rules="rules"
                                    v-model="name"
                                    hide-details="auto"
                                    outlined
                                    dense
                                    @focus="handleFocus"
                                    @blur="handleBlur"
                                    ></v-text-field>
                            </div>
                            <div class="group pb-3">
                                <v-text-field
                                    label="Item Description"
                                    :rules="rulesDesc"
                                    v-model="desc"
                                    hide-details="auto"
                                    outlined
                                    dense
                                    @focus="handleFocus"
                                    @blur="handleBlur"
                                    ></v-text-field>
                            </div>
                            <div class="group pb-3">
                                <v-divider></v-divider>
                            </div>
                            <div class="group">
                                <v-btn class="red--text text--lighten-1 flex-grow-1" outlined text v-on:click.native="exit">
                                    <v-icon small>icon-exit</v-icon>&nbsp;&nbsp;Exit
                                </v-btn>
                                <template v-if="allPassing">
                                    <v-btn class="light-green--text flex-grow-1 ml-3" outlined text v-on:click.native="purchaseComponent">
                                        <v-icon small>icon-checkmark</v-icon>&nbsp;&nbsp;Buy
                                    </v-btn>
                                </template>
                                <template v-else>
                                    <v-btn class="light-grey--text flex-grow-1 ml-3" outlined text disabled>
                                        <v-icon small>icon-checkmark</v-icon>&nbsp;&nbsp;Buy
                                    </v-btn>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="athena"></div>
                </div>
            </v-app>
        </div>
        <script src="../../js/vue.min.js"></script>
        <script src="../../js/vuetify.js"></script>
        <script src="../../js/less.min.js"></script>
        <script src="../../js/gsap.min.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>