@import '../../less/variables.less';

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: hidden;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#app {
    opacity: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

* {
    user-select: none;
}

.panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2vw;
    top: 2vh;
    min-height: calc(100vh - (2vh * 2));
    min-width: 300px;
    max-width: 300px;
    justify-content: flex-start;

    .titleWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;

        .group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            text-align: center;
            width: 100%;

            .cash {
                text-align: left !important;
            }
        }

        .groupWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-items: center;
            align-items: flex-start;
            text-align: center;
            width: 100%;

            .title {
                text-align: left;
            }
        }
    }

    .footer {
        flex-grow: 1;
    }
}

[v-cloak] {
    display: none !important;
}
