<!DOCTYPE html>
    <head>
        <title>Character Selection by Stuyk</title>
        <link rel="stylesheet" type="text/css" href="../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/vuetify.min.css" />
        <link rel="stylesheet" type="text/css" href="./style.css" />
        <link rel="stylesheet" type="text/css" href="../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app" >
            <v-app v-cloak v-if="characters[characterIndex]">
                <!-- Character Select Controller -->
                <div class="pa-3 grey darken-4 rounded elevation-12 selection">
                    <div class="split">
                        <button class="pl-6 pr-6 mr-4 outline-round" @click="decrementIndex">
                            <v-icon color="blue">icon-chevron-left</v-icon>
                        </button>
                        <div class="overline">
                            {{ characters[characterIndex].name.replace(/_/gm, ' ') }}
                        </div>
                        <button class="pl-6 pr-6 ml-4 outline-round" @click="incrementIndex">
                            <v-icon color="blue">icon-chevron-right</v-icon>
                        </button>
                    </div>
                </div>

                <!-- Option Controller -->
                <div class="pa-3 grey darken-4 rounded elevation-12 options">
                    <div class="button-group">
                        <div class="split">
                            <button class="pl-6 pr-6 mr-4 flex-grow-1" @click="selectCharacter">
                                <span class="blue--text overline">{{ locales.LABEL_SELECT }}</span>
                            </button>
                            <button class="pl-6 pr-6 ml-4 flex-grow-1" @click="newCharacter">
                                <span class="green--text overline">{{ locales.LABEL_NEW }}</span>
                            </button>
                            <button class="pl-6 pr-6 ml-4 flex-grow-1" @click="showDeleteInterface">
                                <span class="red--text overline">{{ locales.LABEL_DELETE }}</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Stats Controller -->
                <div class="pa-3 grey darken-4 rounded elevation-12 stats">
                    <div class="split" v-for="(stat, index) in statNames" :key="index">
                        <div class="overline text-left mr-2">
                            {{ stat.varName }}...
                        </div>
                        <div class="overline text-right" v-if="stat.useAppearance && characters[characterIndex].appearance">
                            {{ stat.prefix }}{{ pruneDecimals(characters[characterIndex].appearance[stat.varRef]) }}{{ pruneDecimals(stat.suffix) }}
                        </div>
                        <div class="overline text-right" v-else-if="stat.useInfo && characters[characterIndex].info">
                            {{ stat.prefix }}{{ pruneDecimals(characters[characterIndex].info[stat.varRef]) }}{{  pruneDecimals(stat.suffix) }}
                        </div>
                        <div class="overline text-right" v-else>
                            {{ stat.prefix }}{{ pruneDecimals(characters[characterIndex][stat.varRef]) }}{{  pruneDecimals(stat.suffix) }}
                        </div>
                    </div>
                </div>
                <v-dialog v-model="deleteDialog" persistent max-width="400">
                    <v-card v-if="characters[characterIndex]">
                        <v-card-title class="overline red--text">
                            {{ locales.LABEL_DELETE }} {{ characters[characterIndex].name }}?
                        </v-card-title>
                        <v-card-text class="subtitle-2 orange--text">
                            {{ locales.LABEL_CONFIRM_DELETE }} {{ characters[characterIndex].name }}?
                        </v-card-text>
                        <v-card-actions>
                            <div class="button-group">
                                <div class="split pl-6 pr-6">
                                    <button class="overline pl-6 pr-6" @click="hideDeleteInterface" outlined>
                                        <span class="green--text">No</span>
                                    </button>
                                    <button class="overline pl-6 pr-6" @click="deleteCharacter" outlined>
                                        <span class="red--text">Yes</span>
                                    </button>
                                </div>
                            </div>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <div class="athena"></div>
            </v-app>
        </div>
        <script src="../js/vue.min.js"></script>
        <script src="../js/vuetify.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>