<!DOCTYPE html>
    <head>
        <title>Clothing Selection by Stuyk</title>
        <link rel="stylesheet" type="text/css" href="../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/vuetify.min.css" />
        <link rel="stylesheet" type="text/css" href="./style.css" />
        <link rel="stylesheet" type="text/css" href="../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app v-cloak>
                <div class="panel grey darken-4" v-if="components[componentIndex]">
                    <div class="toolbar pl-2 pr-2 pt-1 pb-1">
                        <div class="split overline overline-center grey--text lighten-1--text font-weight-bold">
                            <span class="overline pl-4">{{ components[componentIndex].name }}</span>
                            <span class="lock mr-4" @click="toggleLock">
                                <v-icon small>{{ inputSelected ? 'icon-lock' : 'icon-unlock' }}</v-icon>
                            </span>
                        </div>
                    </div>
                    <div class="content-no-scroll pa-3">
                        <div class="button-group">
                            <div class="split">
                                <button class="flex-grow-1" @click="decrementIndex">
                                    <div class="split">
                                        <v-icon class="pl-4 orange--text">icon-chevron-left</v-icon>
                                        <span class="overline pr-12 orange--text">PREV</span>
                                    </div>
                                </button>
                                <button class="flex-grow-1" @click="incrementIndex">
                                    <div class="split">
                                        <span class="overline pl-12 blue--text">NEXT</span>
                                        <v-icon class="pr-4 blue--text">icon-chevron-right</v-icon>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="content pa-3">
                        <div class="wrapper">
                            <template v-if="components[componentIndex].drawables.length <= 1">
                                <div class="button-group pa-2">
                                    <div class="subtitle-2 grey--text mb-2">Style</div>
                                    <div class="split flex-grow-1">
                                        <button @click="decrementComponent(0, 'drawables')" class="outline-transparent pl-4 pr-4">
                                            <v-icon class="blue--text">icon-chevron-left</v-icon>
                                        </button>
                                        <span class="overline pt-1 flex-grow-1 text-center grey--text"> 
                                            {{ components[componentIndex].drawables[0] }}/{{ components[componentIndex].maxDrawables[0] }}
                                        </span>
                                        <button @click="incrementComponent(0, 'drawables')" class="outline-transparent pl-4 pr-4">
                                            <v-icon class="blue--text">icon-chevron-right</v-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="button-group pa-2 mt-3" v-if="components[componentIndex].maxTextures[0] >= 1">
                                    <div class="subtitle-2 grey--text mb-2">Texture</div>
                                    <div class="split flex-grow-1">
                                        <button @click="decrementComponent(0, 'textures')" class="outline-transparent pl-4 pr-4">
                                            <v-icon class="blue--text">icon-chevron-left</v-icon>
                                        </button>
                                        <span class="overline pt-1 flex-grow-1 text-center grey--text"> 
                                            {{ components[componentIndex].textures[0] }}/{{ components[componentIndex].maxTextures[0] }}
                                        </span>
                                        <button @click="incrementComponent(0, 'textures')" class="outline-transparent pl-4 pr-4">
                                            <v-icon class="blue--text">icon-chevron-right</v-icon>
                                        </button>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="mb-3" v-for="(drawable, index) in components[componentIndex].drawables" :key="index">
                                    <div class="overline mb-3">
                                        {{ shirtNames[index] }}
                                    </div>
                                    <div class="button-group pa-2">
                                        <div class="subtitle-2 grey--text mb-2">Drawable</div>
                                        <div class="split flex-grow-1">
                                            <button @click="decrementComponent(index, 'drawables')" class="outline-transparent pl-4 pr-4">
                                                <v-icon class="blue--text">icon-chevron-left</v-icon>
                                            </button>
                                            <span class="overline pt-1 flex-grow-1 text-center grey--text"> 
                                                {{ components[componentIndex].drawables[index] }}/{{ components[componentIndex].maxDrawables[index] }}
                                            </span>
                                            <button @click="incrementComponent(index, 'drawables')" class="outline-transparent pl-4 pr-4">
                                                <v-icon class="blue--text">icon-chevron-right</v-icon>
                                            </button>
                                        </div>
                                        <template v-if="components[componentIndex].maxTextures[index] >= 1">
                                            <div class="subtitle-2 grey--text mb-2">Texture</div>
                                            <div class="split flex-grow-1">
                                                <button @click="decrementComponent(index, 'textures')" class="outline-transparent pl-4 pr-4">
                                                    <v-icon class="blue--text">icon-chevron-left</v-icon>
                                                </button>
                                                <span class="overline pt-1 flex-grow-1 text-center grey--text"> 
                                                    {{ components[componentIndex].textures[index] }}/{{ components[componentIndex].maxTextures[index] }}
                                                </span>
                                                <button @click="incrementComponent(index, 'textures')" class="outline-transparent pl-4 pr-4">
                                                    <v-icon class="blue--text">icon-chevron-right</v-icon>
                                                </button>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="footer pa-3">
                        <div class="split">
                            <template v-if="nameValid">
                                <v-icon class="green--text mr-2">icon-checkmark</v-icon>
                            </template>
                            <template v-else>
                                <v-icon class="red--text mr-2">icon-error</v-icon>
                            </template>
                            <input
                                placeholder="Name"
                                autocomplete="off"
                                v-model="name"
                                hide-details="auto"
                                @click="handleFocus"
                                class="pa-2"
                            />
                        </div>
                        <div class="split mb-2">
                            <template v-if="descValid">
                                <v-icon class="green--text mr-2">icon-checkmark</v-icon>
                            </template>
                            <template v-else>
                                <v-icon class="red--text mr-2">icon-error</v-icon>
                            </template>
                            <input
                                placeholder="Description"
                                autocomplete="off"
                                v-model="desc"
                                hide-details="auto"
                                @click="handleFocus"
                                class="pa-2"
                            />
                        </div>
                        <div class="stack mb-3">
                            <span class="caption red--text text--lighten-1 text-center" v-if="!allPassing">Must specify item name and description for identification. Minimum of 3 characters.</span>
                            <div class="split mt-3">
                                <v-chip class="light-blue--text mr-3" label outlined>Item Cost</v-chip>
                                <v-chip class="flex-grow-1"  label outlined>
                                    ${{ cost }}
                                </v-chip>
                            </div>
                        </div>
                        <div class="button-group">
                            <div class="split">
                                <button class="red--text flex-grow-1 overline" @click="exit">
                                    <v-icon class="red--text pr-2" small>icon-exit</v-icon>
                                    <span>{{ locales.LABEL_EXIT }}</span>
                                </button>
                                <template v-if="allPassing">
                                    <button class="light-green--text flex-grow-1 ml-3 overline" @click="purchaseComponent">
                                        <v-icon class="light-green--text pr-2" small>icon-checkmark</v-icon>
                                        <span>{{ locales.LABEL_BUY }}</span>
                                    </button>
                                </template>
                                <template v-else>
                                    <button class="grey--text text--darken-2 flex-grow-1 ml-3 overline">
                                        <v-icon class="grey--text text--darken-2 pr-2" small>icon-checkmark</v-icon>
                                        <span>{{ locales.LABEL_BUY }}</span>
                                    </button>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="athena"></div>
            </v-app>
        </div>
        <script src="./defaultLocales.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/vuetify.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>