@import '../css/common.css';

*,
*:focus {
    outline: none;
    user-select: none !important;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: hidden;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.panel {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    min-width: 350px;
    max-width: 35vh;
    min-height: calc(100vh);
    max-height: calc(100vh);
    animation: slideinleft ease 0.75s;
}

.content {
    display: block;
    overflow-y: scroll;
    direction: rtl;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    direction: ltr;
    height: 100%;
}

.content-no-scroll {
    display: block;
    border-bottom: 6px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.toolbar {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
}

.button-group {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    width: 100%;
    overflow: hidden;
}

.outline-round {
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.outline-transparent {
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0);
}

button {
    font-size: 16px;
    padding: 6px 0vw;
    font-variant: small-caps;
    transition: 0.1s;
    opacity: 0.75;
    overflow: hidden;
    outline: hidden !important;
}

button:hover {
    opacity: 1;
}

button:active {
    color: white !important;
    transform: unset !important;
    background: rgba(0, 0, 0, 0.3);
    outline: none !important;
}

.footer {
    border-top: 6px solid rgba(0, 0, 0, 0.2);
}

.stack {
    display: flex;
    flex-direction: column;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

* {
    user-select: none;
}

input,
textarea {
    caret-color: white !important;
}

input::placeholder {
    caret-color: white !important;
}

input {
    width: 100%;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    margin: 6px 0px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    caret-color: white !important;
    border: 2px solid transparent;
}

input:active {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
    caret-color: white !important;
}

input:focus,
input:focus-within {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
    caret-color: white !important;
}

.lock {
    cursor: pointer;
}

@keyframes slideinleft {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: unset;
    }
}
