<!DOCTYPE html>
    <head>
        <title>Character Selection by Stuyk</title>
        <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/vuetify.min.css" />
        <link rel="stylesheet/less" type="text/css" href="./style.less" />
        <link rel="stylesheet" type="text/css" href="../../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app" >
            <v-app v-cloak>
                <v-container class="panel pl-0 pt-0 fill-height transparent">
                    <div class="special-bar d-flex flex-column justify-space-between fill-height grey darken-4">
                        <v-navigation-drawer permanent expand-on-hover class="grey darken-4">
                            <v-list>
                                <v-list-item v-for="(option, index) in characters" :key="index" link @click="setIndex(index)" :class="characterIndex === index ? 'grey darken-2' : 'light-blue--text'">
                                    <v-list-item-icon style="margin-left: 2px !important">
                                        <v-icon :class="characterIndex === index ? 'white--text' : 'light-blue--text'" class="text-xs-center">
                                            {{ characters[index].appearance.sex === 0 ? 'icon-female': 'icon-male' }}
                                        </v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title class="light-blue--text text--accent-1">
                                        <div class="d-flex flex-row">
                                            <span :class="characterIndex === index ? 'white--text' : 'light-blue--text'">{{ characters[index].name }}</span>
                                        </div>
                                    </v-list-item-title>
                                </v-list-item>
                                <v-divider></v-divider>
                                <v-list-item link @click="newCharacter">
                                    <v-list-item-icon>
                                        <v-icon class="green--text text--lighten-2">icon-plus-square</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title class="green--text text--lighten-2 text--accent-1">
                                        <div class="d-flex flex-row justify-content-center">
                                            <span class="flex-grow-1">Add Character</span>
                                        </div>
                                    </v-list-item-title>
                                </v-list-item>
                                <v-list-item link @click="deleteDialog = !deleteDialog">
                                    <v-dialog v-model="deleteDialog" persistent max-width="400">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-list-item-icon :disabled="characters.length <= 1 ? true : false" outlined text v-bind="attrs" v-on="on">
                                                <v-icon class="red--text">icon-times</v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-title class="red--text">
                                                <span class="flex-grow-1">Delete Character</span>
                                            </v-list-item-title>
                                        </template>
                                        <v-card v-if="characters[characterIndex]">
                                            <v-card-title class="headline red--text">
                                                Delete {{ characters[characterIndex].name }}?
                                            </v-card-title>
                                            <v-card-text class="orange--text">
                                                Are you sure you want to delete your character {{ characters[characterIndex].name }}?
                                            </v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="red lighten-1" text @click="deleteDialog = false" outlined>
                                                    No
                                                </v-btn>
                                                <v-btn color="green lighten-1" text @click="deleteDialog = false; deleteCharacter()" outlined>
                                                    <b>Yes</b>
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-list-item>
                                <v-list-item link @click="selectCharacter">
                                    <v-list-item-icon>
                                        <v-icon class="light-blue--text text--lighten-2">icon-checkmark</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title class="light-blue--text text--lighten-2 text--accent-1">
                                        <div class="d-flex flex-row justify-content-center">
                                            <span class="flex-grow-1">Select Character</span>
                                        </div>
                                    </v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-navigation-drawer>
                    </div>
                    <v-sheet class="special-box d-flex flex-column align-content-center justify-space-between grey darken-4" max-height="100vh" min-height="100vh">
                        <v-list class="options flex-grow-1 transparent" v-if="characters[characterIndex]" dense>
                            <v-list-item class="option flex-grow-1" v-for="(stat, index) in statNames" :key="index">
                                <v-list-item-title class="text-left mr-2">
                                    {{ stat.varName }}
                                </v-list-item-title>
                                <v-list-item-subtitle class="text-right" v-if="stat.useAppearance && characters[characterIndex].appearance">
                                    {{ stat.prefix }}{{ characters[characterIndex].appearance[stat.varRef] }}{{ stat.suffix }}
                                </v-list-item-subtitle>
                                <v-list-item-subtitle class="text-right" v-else-if="stat.useInfo && characters[characterIndex].info">
                                    {{ stat.prefix }}{{ characters[characterIndex].info[stat.varRef] }}{{ stat.suffix }}
                                </v-list-item-subtitle>
                                <v-list-item-subtitle class="text-right" v-else>
                                    {{ stat.prefix }}{{ characters[characterIndex][stat.varRef] }}{{ stat.suffix }}
                                </v-list-item-subtitle>
                            </v-list-item>
                        </v-list>
                    </v-sheet>
                </v-container>
            </v-app>
        </div>
        <script src="../../js/vue.min.js"></script>
        <script src="../../js/vuetify.js"></script>
        <script src="../../js/less.min.js"></script>
        <script src="../../js/gsap.min.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>