<!DOCTYPE html>
    <head>
        <title>Character Selection by Stuyk</title>
        <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/vuetify.min.css" />
        <link rel="stylesheet/less" type="text/css" href="./style.less" />
        <link rel="stylesheet" type="text/css" href="../../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app" >
            <v-app v-cloak v-if="characters[characterIndex]">
                <div class="panel pa-3 grey darken-4 transparent elevation-6 rounded">
                    <div class="titleWrapperCenter mb-3">
                        <div class="title">Select Character</div>
                    </div>
                    <div class="titleWrapper mb-3">
                        <v-btn class="orange--text" outlined text small @click="decrementIndex">
                            <v-icon small>icon-chevron-left</v-icon>
                        </v-btn>
                        <div class="subtitle-2 nowrap pr-5 pl-5">
                            {{ characters[characterIndex].name.replace(/_/gm, ' ') }} 
                        </div>
                        <v-btn class="orange--text" outlined text small @click="incrementIndex">
                            <v-icon small>icon-chevron-right</v-icon>
                        </v-btn>
                    </div>
                    <div class="group pb-3">
                        <v-divider></v-divider>
                    </div>
                    <div class="group">
                        <v-list-item class="option" v-for="(stat, index) in statNames" :key="index">
                            <v-list-item-title class="subtitle-2 text-left mr-2">
                                {{ stat.varName }}
                            </v-list-item-title>
                            <v-list-item-subtitle class="subtitle-2 text-right" v-if="stat.useAppearance && characters[characterIndex].appearance">
                                {{ stat.prefix }}{{ characters[characterIndex].appearance[stat.varRef] }}{{ stat.suffix }}
                            </v-list-item-subtitle>
                            <v-list-item-subtitle class="subtitle-2 text-right" v-else-if="stat.useInfo && characters[characterIndex].info">
                                {{ stat.prefix }}{{ characters[characterIndex].info[stat.varRef] }}{{ stat.suffix }}
                            </v-list-item-subtitle>
                            <v-list-item-subtitle class="subtitle-2 text-right" v-else>
                                {{ stat.prefix }}{{ characters[characterIndex][stat.varRef] }}{{ stat.suffix }}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </div>
                   
                    <div class="footer contentWrapper flex-grow-1 fill-height">
                        <div class="group pb-3">
                            <v-divider></v-divider>
                        </div>
                        <div class="group">
                            <template v-if="characters.length >= 2">
                                <v-btn class="red--text text--lighten-1 flex-grow-1 fill-width" outlined text @click="deleteDialog = !deleteDialog">
                                    <v-icon x-small>icon-times</v-icon>
                                </v-btn>
                            </template>
                            <template v-else>
                                <v-btn class="flex-grow-1 fill-width" outlined text disabled>
                                    <v-icon x-small>icon-times</v-icon>
                                </v-btn>
                            </template>
                            <v-btn class="light-green--text flex-grow-1 ml-2 mr-2" outlined text @click="newCharacter">
                                <v-icon small>icon-plus</v-icon>
                            </v-btn>
                            <v-btn class="light-blue--text flex-grow-1" outlined text @click="selectCharacter">
                                <v-icon small>icon-chevron-right</v-icon>
                            </v-btn>
                        </div>
                    </div>
                </div>
                <v-dialog v-model="deleteDialog" persistent max-width="400">
                    <v-card v-if="characters[characterIndex]">
                        <v-card-title class="overline red--text">
                            Delete {{ characters[characterIndex].name }}?
                        </v-card-title>
                        <v-card-text class="subtitle-2 orange--text">
                            Are you sure you want to delete your character {{ characters[characterIndex].name }}?
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red lighten-1" text @click="deleteDialog = false" outlined>
                                No
                            </v-btn>
                            <v-btn color="green lighten-1" text @click="deleteDialog = false; deleteCharacter()" outlined>
                                <b>Yes</b>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <div class="athena"></div>
            </v-app>
        </div>
        <script src="../../js/vue.min.js"></script>
        <script src="../../js/vuetify.js"></script>
        <script src="../../js/less.min.js"></script>
        <script src="../../js/gsap.min.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>