<!DOCTYPE html>
    <head>
        <title>Chat by Stuyk</title>
        <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/vuetify.min.css" />
        <link rel="stylesheet/less" type="text/css" href="./style.less" />
        <link rel="stylesheet" type="text/css" href="../../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app" v-if="show" v-cloak>
            <v-app v-if="!leaderboard">
                <div class="chat">
                    <div :class="!helpState ? {'help-fill-bye': true } : { 'help-fill': true }"></div>
                    <div :class="getHelpTextClasses">
                        <div class="help-row" v-if="helpText && helpText.key">
                            <div class="keypress">{{ String.fromCharCode(helpText.key) }}</div>
                            <div class="descriptors">
                                <div class="message" v-if="helpText.shortPress">Press - {{ helpText.shortPress }}</div>
                                <div class="message" v-if="helpText.longPress">Hold - {{ helpText.longPress }}</div>
                            </div> 
                        </div>
                    </div>  
                    <div class="messages" ref="messages">
                        <div class="message" v-for="(message, index) in messages" :index="index">
                            <template v-if="timestamp">
                                <span>{{ message.time}}</span> <span :inner-html.prop="message.message | colorify" />
                            </template>
                            <template v-else>
                                <span :inner-html.prop="message.message | colorify" />
                            </template>
                            
                        </div>
                    </div>
                    <div class="outerInput" v-if="active">
                        <div class="mockInput">{{ matchedCommand !== null ? matchedCommand : '' }}</div>
                        <input
                            class="chatInput" 
                            label="Use '/' to type a command." 
                            ref="chatInput"
                            v-model="currentMessage"
                            @keyup.enter="handleSend" 
                            @keyup.escape="handleEscape"
                            @keyup.up="prevMessage"
                            @keyup.down="nextMessage"
                            @keyup.right="useCommand"
                            @keyup="handleTyping"
                            maxlength="128"
                            v-focus>
                        </input>
                    </div>
                    <div class="outerInput" v-else>
                        <input class="chatInput-hidden" ref="chatInput" disabled></input>
                    </div>
                </div>
            </v-app>
            <v-app v-else>
                <v-list class="leaderboard elevation-8 pa-5" dense>
                    <v-subheader>
                        <v-row class="flex-grow-1">
                            <v-col><span class="text-left">ID</span></v-col>
                            <v-col><span class="text-left">Player Name(s)</span></v-col>
                            <v-col><span class="text-left">Distance</span></v-col>
                            <v-col><span class="text-left">Ping</span></v-col>
                        </v-row>
                    </v-subheader>
                    <v-list-item-group class="group">
                        <v-list-item v-for="(player, index) in players" :key="index">
                            <v-row class="flex-grow-1">
                                <v-col><span class="flex-grow-1 text-left">{{ player.id }}</span></v-col>
                                <v-col><span class="flex-grow-1 text-left">{{ player.name }}</span></v-col>
                                <v-col><span class="flex-grow-1 text-left">{{ player.distance.toFixed(2) }}</span></v-col>
                                <v-col><span class="flex-grow-1 text-left"><v-icon>icon-wifi</v-icon> {{ player.ping }}ms</span></v-col>
                            </v-row>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-app>
        </div>
        <script src="../../js/vue.min.js"></script>
        <script src="../../js/vuetify.js"></script>
        <script src="../../js/less.min.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>