body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: hidden;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.v-application {
    background: transparent !important;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
}

.chat {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;

    min-height: 400px;
    max-height: 400px;

    overflow: auto;
    margin-left: 12px;
    margin-top: 12px;
}

.chat .chatInput-hidden {
    opacity: 0;
}

.chat .chatInput {
    text-shadow: 1px 1px black;
    display: block;
}

.outerInput {
    position: relative;
    top: 0;
    display: block;
    min-height: 50px;
    max-height: 50px;
    flex-grow: 1;
}

input {
    position: absolute;
    color: white;
    text-shadow: 1px 1px black;
    background: rgba(0, 0, 0, 0.75);
    margin-top: 6px;
    padding: 5px;
    outline: none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 30px;
    max-height: 30px;
}

.mockInput {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: 4px;
    padding: 5px;
    display: block;
    top: 0;
    left: 0;
    min-height: 30px;
    max-height: 30px;
    z-index: 99;
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
}

.chat .messages {
    direction: rtl;
    overflow: auto;
    min-height: 324px;
}

.chat .messages .message {
    color: white;
    text-shadow: 1px 1px black;
    direction: ltr;
    padding-left: 6px;
    margin-bottom: 6px;
}

.leaderboard {
    display: fixed;
    margin: 10vh auto;
    flex-grow: 1;
    max-height: calc(100% - 5vh);
    min-width: 40vw;
    max-width: 60vw;
    overflow: hidden;
}

.v-list-item-group {
    overflow: auto;
    max-height: inherit;
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(20, 20, 20, 0.85);
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 1);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
}
