<!DOCTYPE html>
    <head>
        <title>Inventory by Stuyk</title>
        <link rel="stylesheet" type="text/css" href="../../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/vuetify.min.css" />
        <link rel="stylesheet/less" type="text/css" href="./style.less" />
        <link rel="stylesheet" type="text/css" href="../../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app v-cloak>
                <div class="main-container">
                    <div class="player rounded">
                        <div class="toolbar grey darken-4 elevation-6">
                            <div 
                                class="rounded grey darken-2" 
                                v-for="(item, index) in toolbar"
                                :id="`t-${index}`" 
                                :class="!item ? { 'is-null-item': true } : { 'item': true }"
                                v-on="!item ? null : { mousedown: selectItem, mouseenter: selectItemInfo, mouseleave: setItemInfo }"
                                >
                                <template v-if="item">
                                    <div class="icon no-pointer">
                                        <img :src="`../icons/${item.icon}.svg`"></img>
                                    </div>
                                    <div class="stats no-pointer">
                                        <div class="quantity">
                                            {{ item.quantity }}x
                                        </div>
                                        <div class="weight">
                                            {{ item.weight }} lb
                                        </div>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="grey--text text--darken-2 no-pointer">
                                        {{ index + 1 }}
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="equipment grey darken-4 elevation-6">
                            <div
                                class="rounded grey darken-2"
                                v-for="(item, index) in equipment"
                                :id="`e-${index}`" 
                                :class="!item ? { 'is-null-item': true } : { 'item': true }"
                                :key="index"
                                v-on="!item ? null : { mousedown: selectItem, mouseenter: selectItemInfo, mouseleave: setItemInfo }">
                                <template v-if="item">
                                    <div class="icon no-pointer">
                                        <img :src="`../icons/${item.icon}.svg`"></img>
                                    </div>
                                    <div class="stats no-pointer">
                                        <div class="quantity">
                                            {{ item.quantity }}x
                                        </div>
                                        <div class="weight">
                                            {{ item.weight }} lb
                                        </div>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="grey--text text--darken-2 no-pointer">
                                        {{ equipmentMeta[index] }}
                                    </div>
                                </template>
                            </div>
                        </div>

                        <template v-if="itemInfo && getItemInfo">
                            <div class="item-info grey darken-4">
                                <div class="name text-h5 font-weight-bold light-blue--text text--lighten-3">
                                    {{ getItemInfo.name }}
                                </div>
                                <v-divider class="mb-2"></v-divider>
                                <div class="quantity text-caption">
                                    <v-chip label color="grey darken-3" small>Quantity: {{ getItemInfo.quantity }}x</v-chip>
                                </div>
                                <v-divider class="mt-2 mb-2"></v-divider>
                                <div class="description text-subtitle-2 grey--text text--lighten-2">
                                    {{ getItemInfo.description }}
                                </div>
                                <template v-if="getItemInfo.data">
                                    <v-divider class="mt-2 mb-2"></v-divider>
                                    <div class="name text-sm font-weight-bold light-blue--text text--lighten-4">
                                        Data
                                    </div>
                                    <v-divider class="mt-2 mb-2"></v-divider>
                                        <div class="chips">
                                            <v-chip v-for="(prop, index) in getItemProperties" :key="index" class="mb-2 mr-2 ml-2 flex-grow-1 text-uppercase" label color="blue-grey darken-3" small>
                                                {{ prop.key }}: {{ prop.value }}
                                            </v-chip>
                                        </div>
                                </template>
                            </div>
                        </template>
                    </div>
                    <div class="split-view">
                        <div class="inventory grey darken-4 rounded elevation-6" :class="ground.length <= 0 ? { 'expand': true }: {}">
                            <div class="inventory-list" :class="getInventoryClass()">
                                <div 
                                    class="rounded grey darken-3" 
                                    v-for="(item, index) in getInventory"
                                    :id="`i-${index}`"
                                    :key="index" 
                                    :class="!item ? { 'is-null-item': true } : { 'item': true }"
                                    v-on="!item ? null : { mousedown: selectItem, mouseenter: selectItemInfo, mouseleave: setItemInfo }" 
                                >
                                    <template v-if="item">
                                        <div class="icon no-pointer">
                                            <img :src="`../icons/${item.icon}.svg`"></img>
                                        </div>
                                        <div class="stats no-pointer">
                                            <div class="quantity">
                                                {{ item.quantity }}x
                                            </div>
                                            <div class="weight">
                                                {{ item.weight }} lb
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="ground grey darken-4 rounded elevation-6" v-if="ground.length >= 1">
                            <div class="pickup-zone" block>
                                <div 
                                class="rounded grey darken-3 rounded"
                                v-for="(item, index) in ground" 
                                :class="!item ? { 'is-null-item': true } : { 'item': true }" 
                                :id="`g-${index}`"
                                :data-hash="item ? `${item.hash}` : ''"
                                v-on="!item ? null : { mousedown: selectItem, mouseenter: selectItemInfo, mouseleave: setItemInfo }" 
                                >
                                    <template v-if="item">
                                        <div class="icon no-pointer">
                                            <img :src="`../icons/${item.icon}.svg`"></img>
                                        </div>
                                        <div class="stats no-pointer">
                                            <div class="quantity">
                                                {{ item.quantity }}x
                                            </div>
                                            <div class="weight">
                                                {{ item.weight }} lb
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="navigation mt-1">
                            <div v-for="index in 5" :key="index - 1" :id="`tab-${index - 1}`" :class="isActiveTab(index -1)" :class="isPageIndex(index - 1)" @click="setIndex(index - 1)">
                                <v-icon>{{ pageIcons[index - 1] }}</v-icon>
                                <div class="tooltip">
                                    {{ pageMeta[index - 1] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </v-app>
        </div>
        <script src="../../js/vue.min.js"></script>
        <script src="../../js/vuetify.js"></script>
        <script src="../../js/less.min.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>