@import '../../less/variables.less';

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: hidden;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.no-animation {
    transition: none !important;
    animation: none !important;
}

.item-clone {
    position: fixed !important;
    display: flex !important;
    pointer-events: none !important;
    border-radius: 4px !important;
    background-color: #424242 !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    min-width: calc((35vw - 24px) / 4.5) !important;
    max-width: calc((35vw - 24px) / 4.5) !important;
    min-height: calc((35vh) / 3.5) !important;
    box-shadow: 0px 0px 5px 2px black;
    left: 0;
    right: 0;
    direction: ltr;
    cursor: pointer;
    border: 2px solid transparent;
    box-sizing: border-box !important;
    overflow: visible;

    &:hover {
        background: rgba(255, 255, 255, 0.3) !important;
    }

    .weight {
        position: absolute;
        top: 0.075vh;
        right: 0.075vw;
        text-shadow: 1px 1px black;
        font-size: 1vw;
        color: white;
    }

    .quantity {
        position: absolute;
        bottom: 0.075vh;
        right: 0.09vw;
        text-shadow: 1px 1px black;
        font-size: 1vw;
        color: white;
    }

    .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        font-family: 'Inter';

        i {
            font-size: calc(21vw / 6);
        }
    }
}

.v-application .v-application--wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: transparent !important;
    width: 100vw !important;
    height: 100vh !important;
    box-sizing: border-box;
}

.no-pointer {
    pointer-events: none !important;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 100vh !important;
    max-width: 100vw !important;
    position: relative;

    .player {
        position: relative;
        margin: 20px;
        min-width: 35vw;
        max-width: 35vw;
        min-height: 95vh;
        max-height: 95vh;

        .item-info {
            position: absolute;
            bottom: 0;
            min-height: 45vh;
            max-height: 45vh;
            box-sizing: border-box;
            width: 100%;
            padding: 1vh 1vw;

            .item-container {
                display: flex;
                flex-direction: column;
                min-height: 43vh;
                max-height: 43vh;
                border-radius: 4px;
                border: 2px solid rgba(255, 255, 255, 0.2) !important;
                justify-content: flex-start;
                justify-items: center;
                align-content: center;
                align-items: center;
                padding: 2vh 2vw;
            }
        }
    }

    .split-view {
        display: flex;
        flex-grow: 1;
        min-width: 35vw;
        max-width: 35vw;
        flex-direction: column;
        overflow: hidden;
        min-height: 95vh;
        max-height: 95vh;

        .expand {
            min-height: 95vh !important;
            max-height: 95vh !important;
        }

        .inventory {
            overflow: hidden;
            min-height: 65vh;
            max-height: 65vh;
            user-select: none;

            .header {
                min-height: 3vh;
                max-height: 3vh;
            }

            .expand-list {
                min-height: 92vh !important;
                max-height: 92vh !important;
            }

            .inventory-list {
                display: grid;
                overflow-y: scroll;
                min-height: 61vh;
                max-height: 61vh;
                box-sizing: border-box;
                direction: rtl;
                grid-template-columns: repeat(4, minmax(6vw, 1fr));
                grid-auto-rows: calc(25vh / 2.5);
                grid-gap: 12px;
                user-select: none;
                padding: 1vh 1vw;

                .is-null-item {
                    background-color: rgba(0, 0, 0, 0.4) !important;
                    border-color: rgba(0, 0, 0, 0.4) !important;
                    cursor: auto !important;

                    &:hover {
                        background: transparent !important;
                        background-color: transparent !important;
                    }
                }

                .item {
                    position: relative;
                    direction: ltr;
                    cursor: pointer;
                    border: 2px solid transparent;
                    box-sizing: border-box !important;
                    overflow: visible;
                    height: 100%;

                    &:hover {
                        background: rgba(255, 255, 255, 0.3) !important;
                    }

                    .weight {
                        position: absolute;
                        top: 0.075vh;
                        right: 0.075vw;
                        text-shadow: 1px 1px black;
                        font-size: 1vw;
                    }

                    .quantity {
                        position: absolute;
                        bottom: 0.075vh;
                        right: 0.09vw;
                        text-shadow: 1px 1px black;
                        font-size: 1vw;
                    }

                    .icon {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        font-family: 'Inter';

                        i {
                            font-size: calc(21vw / 6);
                        }
                    }
                }

                .vip {
                    z-index: 99;
                }
            }
        }

        .ground {
            margin-top: 2vh;
            min-height: 28vh;
            max-height: 28vh;

            .header {
                min-height: 2vh;
                max-height: 2vh;
            }

            .pickup-zone {
                display: grid;
                grid-template-columns: repeat(4, minmax(6vw, 1fr));
                grid-gap: 12px;
                min-height: 23vh;
                max-height: 23vh;
                padding: 1vh 1vw;
                margin-top: 2vh;
                user-select: none;

                .item {
                    position: relative;
                    min-height: calc((23vh - 12px) / 2.2);
                    max-height: calc((23vh - 12px) / 2.2);
                    background: black;
                    height: auto;
                    border: 2px solid transparent !important;
                    cursor: pointer;

                    &:hover {
                        background: rgba(255, 255, 255, 0.3) !important;
                    }

                    .weight {
                        position: absolute;
                        top: 0.075vh;
                        right: 0.075vw;
                        text-shadow: 1px 1px black;
                        font-size: 1vw;
                    }

                    .quantity {
                        position: absolute;
                        bottom: 0.075vh;
                        right: 0.09vw;
                        text-shadow: 1px 1px black;
                        font-size: 1vw;
                    }

                    .icon {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        font-family: 'Inter';

                        i {
                            font-size: calc(21vw / 6);
                        }
                    }
                }

                .is-null-item {
                    background-color: rgba(0, 0, 0, 0.4) !important;
                    border-color: rgba(0, 0, 0, 0.4) !important;
                    cursor: auto !important;

                    &:hover {
                        background: unset !important;
                        background-color: unset !important;
                    }
                }
            }
        }
    }

    .navigation {
        max-width: 6vw;
        min-height: 95vh;
        max-height: 95vh;
        position: absolute;
        right: -6vw;

        button {
            min-width: 5vw;
            max-width: 5vw;
            min-height: 5vh;
            max-height: 5vh;
            z-index: 1;
            outline: none;

            &:hover {
                background: rgba(85, 85, 85, 1) !important;
            }

            i {
                pointer-events: none;
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(20, 20, 20, 0.85);
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 1);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
}

[v-cloak] {
    display: none !important;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
