@import '../../less/variables.less';

@item-dimensions: (100vh / 12vh); // 10 / 720 for vh
@item-icon-dimensions: 32px;

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: hidden;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.no-animation {
    transition: none !important;
    animation: none !important;
}

.item-clone {
    position: fixed !important;
    display: flex !important;
    pointer-events: none !important;
    border-radius: 4px !important;
    background-color: #424242 !important;
    min-width: @item-dimensions;
    max-width: @item-dimensions;
    min-height: @item-dimensions;
    max-height: @item-dimensions;
    box-shadow: 0px 0px 5px 2px black;
    left: 0;
    right: 0;
    direction: ltr;
    cursor: pointer;
    border: 2px solid transparent;
    box-sizing: border-box !important;
    overflow: visible;
    z-index: 99;

    &:hover {
        background: rgba(255, 255, 255, 0.3) !important;
    }
}

.no-pointer {
    pointer-events: none !important;
}

.item .quantity {
    position: absolute;
    text-shadow: 1px 1px black;
    font-size: 11px;
    color: yellow;
    right: 0.5vh;
    bottom: 0;
    font-family: monospace;
}

.item .consume {
    position: absolute;
    text-shadow: 1px 1px black;
    font-size: 11px;
    color: white;
    bottom: 1px;
    left: 1px;
}

.icon {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Inter';

    img {
        min-width: @item-dimensions / 1.25;
        max-width: @item-dimensions / 1.25;
        // min-height: @item-dimensions / 1.75;
        // max-height: @item-dimensions / 1.75;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 100vw;
    // left: 7vw;

    .splitter {
        display: flex;
        position: fixed;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        z-index: 98;

        .split {
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            padding: 20px;
            box-sizing: border-box;
            min-width: 30vw;
            max-width: 30vw;
            height: auto;

            .split-horizontal {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                justify-items: center;
            }
        }
    }

    .key-group {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.3);

        .key {
            text-align: right;
            font-size: 12px;
            font-family: monospace;
        }

        .prop {
            text-align: left;
            font-size: 12px;
            font-family: monospace;
        }
    }

    .vertical {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-evenly;
    }

    .horizontal {
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 100vh;
        max-height: 100vh;
        width: 100vw;

        // Model Preview Box
        .previewBox {
            position: relative;
            display: flex;
            align-items: flex-end;
            min-width: calc(@item-dimensions * 4 + 0.5vh * 5);
            min-height: 100vh;
            max-width: calc(@item-dimensions * 4 + 0.5vh * 5);
            max-height: 100vh;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0.5vh;

            .item-info {
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
                min-width: calc(@item-dimensions * 4 + 0.5vh * 5);
                max-width: calc(@item-dimensions * 4 + 0.5vh * 5);
                padding: calc(@item-dimensions / 2.5);
                border: 2px solid rgba(0, 0, 0, 0.5);
            }

            .ground-items {
                position: absolute;
                width: 100%;
                display: grid;
                box-sizing: border-box;
                grid-template-columns: repeat(4, @item-dimensions);
                grid-auto-rows: @item-dimensions;
                grid-gap: 0.5vh;
                height: auto;
                user-select: none;

                .item {
                    position: relative;
                    min-height: @item-dimensions;
                    max-height: @item-dimensions;
                    background: black;
                    border: 2px solid transparent !important;
                    cursor: pointer;

                    &:hover {
                        background: rgba(255, 255, 255, 0.3) !important;
                    }
                }

                .is-null-item {
                    position: relative;
                    min-height: @item-dimensions;
                    max-height: @item-dimensions;
                    background-color: rgba(0, 0, 0, 0.3) !important;
                    border: 2px solid rgba(0, 0, 0, 0.5) !important;
                    cursor: auto;
                }
            }
        }

        // Equipment Bar
        .equipment {
            display: grid;
            box-sizing: border-box;
            justify-content: center;
            grid-template-columns: repeat(2, @item-dimensions);
            grid-auto-rows: @item-dimensions;
            grid-gap: 0.5vh;
            height: auto;
            user-select: none;
            flex-grow: 1;
            margin-top: calc(@item-dimensions / 1.5);

            .section-title-eq {
                position: absolute;
                font-size: 12px;
                font-weight: 400;
                opacity: 0.5;
                text-align: center;
                font-variant: small-caps;
                letter-spacing: 0.2em;
                user-select: none;
                left: -20px;
                top: 2vh;
                z-index: 99;
                writing-mode: vertical-rl;
                text-orientation: upright !important;
            }

            .item {
                position: relative;
                cursor: pointer;
                border: 2px solid transparent;
                box-sizing: border-box !important;
                overflow: hidden;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-content: center;
                justify-items: center;
                align-items: center;
                min-height: @item-dimensions;
                max-height: @item-dimensions;
                height: 100%;
                min-width: @item-dimensions;
                max-width: @item-dimensions;
                margin-bottom: 0.5vh;
                border: 2px solid rgba(0, 0, 0, 0.5) !important;
                background: rgba(255, 255, 255, 0.2);

                &:last-child {
                    margin-bottom: 0;
                }

                span {
                    color: white;
                    text-align: center;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.5) !important;
                }
            }

            .descriptor-text {
                font-size: 1.5vh;
                font-weight: 900;
                text-align: center;
                font-family: monospace;
                text-transform: uppercase;
            }

            .is-null-item {
                position: relative;
                display: flex;
                justify-content: center;
                align-content: center;
                justify-items: center;
                align-items: center;
                border-radius: 5px;
                border: 2px solid transparent !important;
                box-sizing: border-box !important;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.3) !important;
                border: 2px solid rgba(0, 0, 0, 0.5) !important;
                min-height: @item-dimensions;
                min-width: @item-dimensions;
                height: 100%;
                margin-bottom: 0.5vh;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        user-select: none;
        position: relative;
        min-height: @item-dimensions;
        max-height: @item-dimensions;

        .item {
            position: relative;
            cursor: pointer;
            border: 2px solid transparent;
            box-sizing: border-box !important;
            overflow: hidden;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            min-height: @item-dimensions;
            max-height: @item-dimensions;
            height: 100%;
            min-width: @item-dimensions;
            max-width: @item-dimensions;
            margin-right: 0.5vh;
            border: 2px solid rgba(0, 0, 0, 0.5) !important;
            background: rgba(255, 255, 255, 0.2);

            &:last-child {
                margin-right: 0 !important;
            }

            span {
                color: white;
                text-align: center;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.5) !important;
            }
        }

        .is-null-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            cursor: pointer;
            box-sizing: border-box !important;
            overflow: hidden;
            height: 100%;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border: 2px solid rgba(0, 0, 0, 0.5) !important;
            cursor: auto !important;
            height: @item-dimensions;
            width: @item-dimensions;
            margin-right: 0.5vh;

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }

    .slight-transparent {
        background: rgba(35, 35, 35, 0.85);
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .tab {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: @item-dimensions / 1.25;
            min-height: @item-dimensions / 1.25;
            z-index: 1 !important;
            outline: none;
            cursor: pointer;
            border-radius: 5px;

            &:last-child {
                margin-right: 0px;
            }

            &:hover {
                background: rgba(85, 85, 85, 1) !important;

                .tooltip {
                    display: flex;
                    align-content: flex-start;
                    position: absolute;
                    right: 0 - @item-dimensions * 3.05;
                    min-width: @item-dimensions * 3;
                    text-shadow: 1px 1px black;
                    text-align: left !important;
                }
            }

            i {
                pointer-events: none;
            }
        }
    }

    .inventory {
        display: flex;
        justify-content: center;
        align-content: flex-end;
        justify-items: flex-end;
        align-items: flex-end;
        user-select: none;
        z-index: 50 !important;
        position: relative;

        .inventory-list {
            display: grid;
            box-sizing: border-box;
            grid-template-columns: repeat(4, @item-dimensions);
            grid-auto-rows: @item-dimensions;
            grid-gap: 0.5vh;
            height: auto;
            user-select: none;

            .item {
                position: relative;
                cursor: pointer;
                box-sizing: border-box !important;
                overflow: hidden;
                height: 100%;
                border: 2px solid rgba(0, 0, 0, 0.5) !important;
                border-radius: 5px;
                background: rgba(255, 255, 255, 0.2);

                &:hover {
                    background: rgba(255, 255, 255, 0.5) !important;
                }
            }

            .is-null-item {
                position: relative;
                direction: ltr;
                cursor: pointer;
                border: 2px solid transparent !important;
                box-sizing: border-box !important;
                overflow: hidden;
                height: 100%;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.3) !important;
                border: 2px solid rgba(0, 0, 0, 0.5) !important;
                cursor: auto !important;
            }

            .vip {
                z-index: 99;
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(20, 20, 20, 0.85);
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 1);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
}

[v-cloak] {
    display: none !important;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

// You can remove this if you want.
// That's up to you as the buyer.
// If you didn't buy the license then fuck you.
.athena-mod {
    position: fixed;
    display: block;
    top: 4vh;
    right: 4vh;
    min-width: 4vh;
    max-width: 4vh;
    min-height: 4vh;
    max-height: 4vh;
    z-index: 99;
    background: url('../../svg/athena.svg');
    background-size: cover;
    opacity: 0.1;
}
