<!DOCTYPE html>
    <head>
        <title>Input Menu by Stuyk</title>
        <link rel="stylesheet" type="text/css" href="../css/materialdesignicons.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/vuetify.min.css" />
        <link rel="stylesheet" type="text/css" href="./style.css" />
        <link rel="stylesheet" type="text/css" href="../icomoon/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app" >
            <v-app v-cloak>
                    <div class="frame grey elevation-6 rounded-sm darken-4">
                        <div class="toolbar pl-4 pr-4">
                            <div class="overline">
                                {{ title }}
                            </div>
                            <button @click="exit" class="exit" outlined text>
                                <v-icon color="error">icon-times-circle</v-icon>
                            </button>
                        </div>
                        <div class="inner">
                            <div class="scroll pa-6">   
                                <div v-for="(item, index) in menu" :key="index" class="mb-4 element">
                                    <div v-if="item.error">
                                        <v-alert color="red" dense outlined text v-if="item.showError">
                                            {{ item.error }}
                                        </v-alert>
                                    </div>
                                    <v-text-field
                                        :label="item.desc" 
                                        :id="item.id"
                                        :placeholder="item.placeholder"
                                        :v-model="item.id"
                                        autocomplete="off"
                                        :type="item.type"
                                        dense
                                    />
                                </div>
                                <div class="split">
                                    <button @click="exit" class="red--text flex-grow-1 outline-round mr-2">
                                        CANCEL
                                    </button>
                                    <button @click="submit" class="green--text flex-grow-1 outline-round ml-2">
                                        SUBMIT
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                <div class="athena"></div>
            </v-app>
        </div>
        <script src="../js/vue.min.js"></script>
        <script src="../js/vuetify.js"></script>
        <script src="./app.js" type="text/javascript"></script>
    </body>
</html>