@import '../css/common.css';

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: hidden;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.v-application .v-application--wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: transparent !important;
    width: 100vw;
    height: 100vh;
}

@keyframes slideup {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: unset;
    }
}

.atm {
    position: absolute;
    display: flex;
    flex-direction: column;
    animation: fadein 0.2s;
    user-select: none;
    min-width: 400px;
    width: 100%;
    max-width: 35vw;
    backface-visibility: hidden;
    overflow: hidden;
    animation: slideup ease 0.75s;
}

.atm .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.2);
}

.atm .split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
}

.atm .center-header {
    width: 100%;
    flex-grow: 1;
    text-align: center;
}

.atm .balancer {
    flex-grow: 1;
    width: 100% !important;
    background-color: #388e3c !important;
    text-align: center;
    position: relative;
    overflow: hidden !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    border: 2px solid #2c2c2c;
}

.atm .balancer .bar {
    position: absolute;
    height: 50px !important;
    top: 0px;
    right: -5px;
    transform: skew(-15deg);
}

.atm .balancer .text {
    position: relative;
    z-index: 99;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.atm .button-group {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    overflow: hidden;
}

.atm button {
    padding-left: 5px;
    font-size: 16px;
    padding: 1vh 0vw;
    font-variant: small-caps;
    transition: 0.1s;
    opacity: 0.75;
    overflow: hidden;
    outline: hidden !important;
}

.atm button:hover {
    opacity: 1;
}

.atm button:active {
    color: white !important;
    transform: unset !important;
    background: rgba(0, 0, 0, 0.3);
    outline: hidden !important;
}

.atm .disabled-button {
    opacity: 0.75 !important;
}

.atm .disabled-button:hover {
    opacity: 0.75 !important;
}

.atm .disabled-button:active {
    color: unset !important;
    transform: unset !important;
    background: unset !important;
}

.atm .active {
    background: rgba(0, 0, 0, 0.3) !important;
    opacity: 1 !important;
}

.atm .options {
    display: flex;
    flex-direction: column;
}

.atm .outline-round {
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.atm-loading {
    position: absolute;
    left: 2vw;
    min-width: 550px;
    max-width: 550px;
    animation: fadein 0.75s;
    user-select: none;
    transform: perspective(1000px) rotateY(5deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    opacity: 0.95;
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(20, 20, 20, 0.85);
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: #646464;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
}

[v-cloak] {
    display: none !important;
}
