.black {
    background-color: #000000;
    border-color: #000000;
}
  
.black--text {
    color: #000000;
    caret-color: #000000;
}

.white {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.white--text {
    color: #FFFFFF;
    caret-color: #FFFFFF;
}

.transparent {
    background-color: transparent;
    border-color: transparent;
}

.transparent--text {
    color: transparent;
    caret-color: transparent;
}

.red {
    background-color: #F44336;
    border-color: #F44336;
}

.red--text {
    color: #F44336;
    caret-color: #F44336;
}

.red.lighten-5 {
    background-color: #FFEBEE;
    border-color: #FFEBEE;
}

.red--text.text--lighten-5 {
    color: #FFEBEE;
    caret-color: #FFEBEE;
}

.red.lighten-4 {
    background-color: #FFCDD2;
    border-color: #FFCDD2;
}

.red--text.text--lighten-4 {
    color: #FFCDD2;
    caret-color: #FFCDD2;
}

.red.lighten-3 {
    background-color: #EF9A9A;
    border-color: #EF9A9A;
}

.red--text.text--lighten-3 {
    color: #EF9A9A;
    caret-color: #EF9A9A;
}

.red.lighten-2 {
    background-color: #E57373;
    border-color: #E57373;
}

.red--text.text--lighten-2 {
    color: #E57373;
    caret-color: #E57373;
}

.red.lighten-1 {
    background-color: #EF5350;
    border-color: #EF5350;
}

.red--text.text--lighten-1 {
    color: #EF5350;
    caret-color: #EF5350;
}

.red.darken-1 {
    background-color: #E53935;
    border-color: #E53935;
}

.red--text.text--darken-1 {
    color: #E53935;
    caret-color: #E53935;
}

.red.darken-2 {
    background-color: #D32F2F;
    border-color: #D32F2F;
}

.red--text.text--darken-2 {
    color: #D32F2F;
    caret-color: #D32F2F;
}

.red.darken-3 {
    background-color: #C62828;
    border-color: #C62828;
}

.red--text.text--darken-3 {
    color: #C62828;
    caret-color: #C62828;
}

.red.darken-4 {
    background-color: #B71C1C;
    border-color: #B71C1C;
}

.red--text.text--darken-4 {
    color: #B71C1C;
    caret-color: #B71C1C;
}

.red.accent-1 {
    background-color: #FF8A80;
    border-color: #FF8A80;
}

.red--text.text--accent-1 {
    color: #FF8A80;
    caret-color: #FF8A80;
}

.red.accent-2 {
    background-color: #FF5252;
    border-color: #FF5252;
}

.red--text.text--accent-2 {
    color: #FF5252;
    caret-color: #FF5252;
}

.red.accent-3 {
    background-color: #FF1744;
    border-color: #FF1744;
}

.red--text.text--accent-3 {
    color: #FF1744;
    caret-color: #FF1744;
}

.red.accent-4 {
    background-color: #D50000;
    border-color: #D50000;
}

.red--text.text--accent-4 {
    color: #D50000;
    caret-color: #D50000;
}

.pink {
    background-color: #e91e63;
    border-color: #e91e63;
}

.pink--text {
    color: #e91e63;
    caret-color: #e91e63;
}

.pink.lighten-5 {
    background-color: #fce4ec;
    border-color: #fce4ec;
}

.pink--text.text--lighten-5 {
    color: #fce4ec;
    caret-color: #fce4ec;
}

.pink.lighten-4 {
    background-color: #f8bbd0;
    border-color: #f8bbd0;
}

.pink--text.text--lighten-4 {
    color: #f8bbd0;
    caret-color: #f8bbd0;
}

.pink.lighten-3 {
    background-color: #f48fb1;
    border-color: #f48fb1;
}

.pink--text.text--lighten-3 {
    color: #f48fb1;
    caret-color: #f48fb1;
}

.pink.lighten-2 {
    background-color: #f06292;
    border-color: #f06292;
}

.pink--text.text--lighten-2 {
    color: #f06292;
    caret-color: #f06292;
}

.pink.lighten-1 {
    background-color: #ec407a;
    border-color: #ec407a;
}

.pink--text.text--lighten-1 {
    color: #ec407a;
    caret-color: #ec407a;
}

.pink.darken-1 {
    background-color: #d81b60;
    border-color: #d81b60;
}

.pink--text.text--darken-1 {
    color: #d81b60;
    caret-color: #d81b60;
}

.pink.darken-2 {
    background-color: #c2185b;
    border-color: #c2185b;
}

.pink--text.text--darken-2 {
    color: #c2185b;
    caret-color: #c2185b;
}

.pink.darken-3 {
    background-color: #ad1457;
    border-color: #ad1457;
}

.pink--text.text--darken-3 {
    color: #ad1457;
    caret-color: #ad1457;
}

.pink.darken-4 {
    background-color: #880e4f;
    border-color: #880e4f;
}

.pink--text.text--darken-4 {
    color: #880e4f;
    caret-color: #880e4f;
}

.pink.accent-1 {
    background-color: #ff80ab;
    border-color: #ff80ab;
}

.pink--text.text--accent-1 {
    color: #ff80ab;
    caret-color: #ff80ab;
}

.pink.accent-2 {
    background-color: #ff4081;
    border-color: #ff4081;
}

.pink--text.text--accent-2 {
    color: #ff4081;
    caret-color: #ff4081;
}

.pink.accent-3 {
    background-color: #f50057;
    border-color: #f50057;
}

.pink--text.text--accent-3 {
    color: #f50057;
    caret-color: #f50057;
}

.pink.accent-4 {
    background-color: #c51162;
    border-color: #c51162;
}

.pink--text.text--accent-4 {
    color: #c51162;
    caret-color: #c51162;
}

.purple {
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.purple--text {
    color: #9c27b0;
    caret-color: #9c27b0;
}

.purple.lighten-5 {
    background-color: #f3e5f5;
    border-color: #f3e5f5;
}

.purple--text.text--lighten-5 {
    color: #f3e5f5;
    caret-color: #f3e5f5;
}

.purple.lighten-4 {
    background-color: #e1bee7;
    border-color: #e1bee7;
}

.purple--text.text--lighten-4 {
    color: #e1bee7;
    caret-color: #e1bee7;
}

.purple.lighten-3 {
    background-color: #ce93d8;
    border-color: #ce93d8;
}

.purple--text.text--lighten-3 {
    color: #ce93d8;
    caret-color: #ce93d8;
}

.purple.lighten-2 {
    background-color: #ba68c8;
    border-color: #ba68c8;
}

.purple--text.text--lighten-2 {
    color: #ba68c8;
    caret-color: #ba68c8;
}

.purple.lighten-1 {
    background-color: #ab47bc;
    border-color: #ab47bc;
}

.purple--text.text--lighten-1 {
    color: #ab47bc;
    caret-color: #ab47bc;
}

.purple.darken-1 {
    background-color: #8e24aa;
    border-color: #8e24aa;
}

.purple--text.text--darken-1 {
    color: #8e24aa;
    caret-color: #8e24aa;
}

.purple.darken-2 {
    background-color: #7b1fa2;
    border-color: #7b1fa2;
}

.purple--text.text--darken-2 {
    color: #7b1fa2;
    caret-color: #7b1fa2;
}

.purple.darken-3 {
    background-color: #6a1b9a;
    border-color: #6a1b9a;
}

.purple--text.text--darken-3 {
    color: #6a1b9a;
    caret-color: #6a1b9a;
}

.purple.darken-4 {
    background-color: #4a148c;
    border-color: #4a148c;
}

.purple--text.text--darken-4 {
    color: #4a148c;
    caret-color: #4a148c;
}

.purple.accent-1 {
    background-color: #ea80fc;
    border-color: #ea80fc;
}

.purple--text.text--accent-1 {
    color: #ea80fc;
    caret-color: #ea80fc;
}

.purple.accent-2 {
    background-color: #e040fb;
    border-color: #e040fb;
}

.purple--text.text--accent-2 {
    color: #e040fb;
    caret-color: #e040fb;
}

.purple.accent-3 {
    background-color: #d500f9;
    border-color: #d500f9;
}

.purple--text.text--accent-3 {
    color: #d500f9;
    caret-color: #d500f9;
}

.purple.accent-4 {
    background-color: #aa00ff;
    border-color: #aa00ff;
}

.purple--text.text--accent-4 {
    color: #aa00ff;
    caret-color: #aa00ff;
}

.deep-purple {
    background-color: #673ab7;
    border-color: #673ab7;
}

.deep-purple--text {
    color: #673ab7;
    caret-color: #673ab7;
}

.deep-purple.lighten-5 {
    background-color: #ede7f6;
    border-color: #ede7f6;
}

.deep-purple--text.text--lighten-5 {
    color: #ede7f6;
    caret-color: #ede7f6;
}

.deep-purple.lighten-4 {
    background-color: #d1c4e9;
    border-color: #d1c4e9;
}

.deep-purple--text.text--lighten-4 {
    color: #d1c4e9;
    caret-color: #d1c4e9;
}

.deep-purple.lighten-3 {
    background-color: #b39ddb;
    border-color: #b39ddb;
}

.deep-purple--text.text--lighten-3 {
    color: #b39ddb;
    caret-color: #b39ddb;
}

.deep-purple.lighten-2 {
    background-color: #9575cd;
    border-color: #9575cd;
}

.deep-purple--text.text--lighten-2 {
    color: #9575cd;
    caret-color: #9575cd;
}

.deep-purple.lighten-1 {
    background-color: #7e57c2;
    border-color: #7e57c2;
}

.deep-purple--text.text--lighten-1 {
    color: #7e57c2;
    caret-color: #7e57c2;
}

.deep-purple.darken-1 {
    background-color: #5e35b1;
    border-color: #5e35b1;
}

.deep-purple--text.text--darken-1 {
    color: #5e35b1;
    caret-color: #5e35b1;
}

.deep-purple.darken-2 {
    background-color: #512da8;
    border-color: #512da8;
}

.deep-purple--text.text--darken-2 {
    color: #512da8;
    caret-color: #512da8;
}

.deep-purple.darken-3 {
    background-color: #4527a0;
    border-color: #4527a0;
}

.deep-purple--text.text--darken-3 {
    color: #4527a0;
    caret-color: #4527a0;
}

.deep-purple.darken-4 {
    background-color: #311b92;
    border-color: #311b92;
}

.deep-purple--text.text--darken-4 {
    color: #311b92;
    caret-color: #311b92;
}

.deep-purple.accent-1 {
    background-color: #b388ff;
    border-color: #b388ff;
}

.deep-purple--text.text--accent-1 {
    color: #b388ff;
    caret-color: #b388ff;
}

.deep-purple.accent-2 {
    background-color: #7c4dff;
    border-color: #7c4dff;
}

.deep-purple--text.text--accent-2 {
    color: #7c4dff;
    caret-color: #7c4dff;
}

.deep-purple.accent-3 {
    background-color: #651fff;
    border-color: #651fff;
}

.deep-purple--text.text--accent-3 {
    color: #651fff;
    caret-color: #651fff;
}

.deep-purple.accent-4 {
    background-color: #6200ea;
    border-color: #6200ea;
}

.deep-purple--text.text--accent-4 {
    color: #6200ea;
    caret-color: #6200ea;
}

.indigo {
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.indigo--text {
    color: #3f51b5;
    caret-color: #3f51b5;
}

.indigo.lighten-5 {
    background-color: #e8eaf6;
    border-color: #e8eaf6;
}

.indigo--text.text--lighten-5 {
    color: #e8eaf6;
    caret-color: #e8eaf6;
}

.indigo.lighten-4 {
    background-color: #c5cae9;
    border-color: #c5cae9;
}

.indigo--text.text--lighten-4 {
    color: #c5cae9;
    caret-color: #c5cae9;
}

.indigo.lighten-3 {
    background-color: #9fa8da;
    border-color: #9fa8da;
}

.indigo--text.text--lighten-3 {
    color: #9fa8da;
    caret-color: #9fa8da;
}

.indigo.lighten-2 {
    background-color: #7986cb;
    border-color: #7986cb;
}

.indigo--text.text--lighten-2 {
    color: #7986cb;
    caret-color: #7986cb;
}

.indigo.lighten-1 {
    background-color: #5c6bc0;
    border-color: #5c6bc0;
}

.indigo--text.text--lighten-1 {
    color: #5c6bc0;
    caret-color: #5c6bc0;
}

.indigo.darken-1 {
    background-color: #3949ab;
    border-color: #3949ab;
}

.indigo--text.text--darken-1 {
    color: #3949ab;
    caret-color: #3949ab;
}

.indigo.darken-2 {
    background-color: #303f9f;
    border-color: #303f9f;
}

.indigo--text.text--darken-2 {
    color: #303f9f;
    caret-color: #303f9f;
}

.indigo.darken-3 {
    background-color: #283593;
    border-color: #283593;
}

.indigo--text.text--darken-3 {
    color: #283593;
    caret-color: #283593;
}

.indigo.darken-4 {
    background-color: #1a237e;
    border-color: #1a237e;
}

.indigo--text.text--darken-4 {
    color: #1a237e;
    caret-color: #1a237e;
}

.indigo.accent-1 {
    background-color: #8c9eff;
    border-color: #8c9eff;
}

.indigo--text.text--accent-1 {
    color: #8c9eff;
    caret-color: #8c9eff;
}

.indigo.accent-2 {
    background-color: #536dfe;
    border-color: #536dfe;
}

.indigo--text.text--accent-2 {
    color: #536dfe;
    caret-color: #536dfe;
}

.indigo.accent-3 {
    background-color: #3d5afe;
    border-color: #3d5afe;
}

.indigo--text.text--accent-3 {
    color: #3d5afe;
    caret-color: #3d5afe;
}

.indigo.accent-4 {
    background-color: #304ffe;
    border-color: #304ffe;
}

.indigo--text.text--accent-4 {
    color: #304ffe;
    caret-color: #304ffe;
}

.blue {
    background-color: #2196F3;
    border-color: #2196F3;
}

.blue--text {
    color: #2196F3;
    caret-color: #2196F3;
}

.blue.lighten-5 {
    background-color: #E3F2FD;
    border-color: #E3F2FD;
}

.blue--text.text--lighten-5 {
    color: #E3F2FD;
    caret-color: #E3F2FD;
}

.blue.lighten-4 {
    background-color: #BBDEFB;
    border-color: #BBDEFB;
}

.blue--text.text--lighten-4 {
    color: #BBDEFB;
    caret-color: #BBDEFB;
}

.blue.lighten-3 {
    background-color: #90CAF9;
    border-color: #90CAF9;
}

.blue--text.text--lighten-3 {
    color: #90CAF9;
    caret-color: #90CAF9;
}

.blue.lighten-2 {
    background-color: #64B5F6;
    border-color: #64B5F6;
}

.blue--text.text--lighten-2 {
    color: #64B5F6;
    caret-color: #64B5F6;
}

.blue.lighten-1 {
    background-color: #42A5F5;
    border-color: #42A5F5;
}

.blue--text.text--lighten-1 {
    color: #42A5F5;
    caret-color: #42A5F5;
}

.blue.darken-1 {
    background-color: #1E88E5;
    border-color: #1E88E5;
}

.blue--text.text--darken-1 {
    color: #1E88E5;
    caret-color: #1E88E5;
}

.blue.darken-2 {
    background-color: #1976D2;
    border-color: #1976D2;
}

.blue--text.text--darken-2 {
    color: #1976D2;
    caret-color: #1976D2;
}

.blue.darken-3 {
    background-color: #1565C0;
    border-color: #1565C0;
}

.blue--text.text--darken-3 {
    color: #1565C0;
    caret-color: #1565C0;
}

.blue.darken-4 {
    background-color: #0D47A1;
    border-color: #0D47A1;
}

.blue--text.text--darken-4 {
    color: #0D47A1;
    caret-color: #0D47A1;
}

.blue.accent-1 {
    background-color: #82B1FF;
    border-color: #82B1FF;
}

.blue--text.text--accent-1 {
    color: #82B1FF;
    caret-color: #82B1FF;
}

.blue.accent-2 {
    background-color: #448AFF;
    border-color: #448AFF;
}

.blue--text.text--accent-2 {
    color: #448AFF;
    caret-color: #448AFF;
}

.blue.accent-3 {
    background-color: #2979FF;
    border-color: #2979FF;
}

.blue--text.text--accent-3 {
    color: #2979FF;
    caret-color: #2979FF;
}

.blue.accent-4 {
    background-color: #2962FF;
    border-color: #2962FF;
}

.blue--text.text--accent-4 {
    color: #2962FF;
    caret-color: #2962FF;
}

.light-blue {
    background-color: #03a9f4;
    border-color: #03a9f4;
}

.light-blue--text {
    color: #03a9f4;
    caret-color: #03a9f4;
}

.light-blue.lighten-5 {
    background-color: #e1f5fe;
    border-color: #e1f5fe;
}

.light-blue--text.text--lighten-5 {
    color: #e1f5fe;
    caret-color: #e1f5fe;
}

.light-blue.lighten-4 {
    background-color: #b3e5fc;
    border-color: #b3e5fc;
}

.light-blue--text.text--lighten-4 {
    color: #b3e5fc;
    caret-color: #b3e5fc;
}

.light-blue.lighten-3 {
    background-color: #81d4fa;
    border-color: #81d4fa;
}

.light-blue--text.text--lighten-3 {
    color: #81d4fa;
    caret-color: #81d4fa;
}

.light-blue.lighten-2 {
    background-color: #4fc3f7;
    border-color: #4fc3f7;
}

.light-blue--text.text--lighten-2 {
    color: #4fc3f7;
    caret-color: #4fc3f7;
}

.light-blue.lighten-1 {
    background-color: #29b6f6;
    border-color: #29b6f6;
}

.light-blue--text.text--lighten-1 {
    color: #29b6f6;
    caret-color: #29b6f6;
}

.light-blue.darken-1 {
    background-color: #039be5;
    border-color: #039be5;
}

.light-blue--text.text--darken-1 {
    color: #039be5;
    caret-color: #039be5;
}

.light-blue.darken-2 {
    background-color: #0288d1;
    border-color: #0288d1;
}

.light-blue--text.text--darken-2 {
    color: #0288d1;
    caret-color: #0288d1;
}

.light-blue.darken-3 {
    background-color: #0277bd;
    border-color: #0277bd;
}

.light-blue--text.text--darken-3 {
    color: #0277bd;
    caret-color: #0277bd;
}

.light-blue.darken-4 {
    background-color: #01579b;
    border-color: #01579b;
}

.light-blue--text.text--darken-4 {
    color: #01579b;
    caret-color: #01579b;
}

.light-blue.accent-1 {
    background-color: #80d8ff;
    border-color: #80d8ff;
}

.light-blue--text.text--accent-1 {
    color: #80d8ff;
    caret-color: #80d8ff;
}

.light-blue.accent-2 {
    background-color: #40c4ff;
    border-color: #40c4ff;
}

.light-blue--text.text--accent-2 {
    color: #40c4ff;
    caret-color: #40c4ff;
}

.light-blue.accent-3 {
    background-color: #00b0ff;
    border-color: #00b0ff;
}

.light-blue--text.text--accent-3 {
    color: #00b0ff;
    caret-color: #00b0ff;
}

.light-blue.accent-4 {
    background-color: #0091ea;
    border-color: #0091ea;
}

.light-blue--text.text--accent-4 {
    color: #0091ea;
    caret-color: #0091ea;
}

.cyan {
    background-color: #00bcd4;
    border-color: #00bcd4;
}

.cyan--text {
    color: #00bcd4;
    caret-color: #00bcd4;
}

.cyan.lighten-5 {
    background-color: #e0f7fa;
    border-color: #e0f7fa;
}

.cyan--text.text--lighten-5 {
    color: #e0f7fa;
    caret-color: #e0f7fa;
}

.cyan.lighten-4 {
    background-color: #b2ebf2;
    border-color: #b2ebf2;
}

.cyan--text.text--lighten-4 {
    color: #b2ebf2;
    caret-color: #b2ebf2;
}

.cyan.lighten-3 {
    background-color: #80deea;
    border-color: #80deea;
}

.cyan--text.text--lighten-3 {
    color: #80deea;
    caret-color: #80deea;
}

.cyan.lighten-2 {
    background-color: #4dd0e1;
    border-color: #4dd0e1;
}

.cyan--text.text--lighten-2 {
    color: #4dd0e1;
    caret-color: #4dd0e1;
}

.cyan.lighten-1 {
    background-color: #26c6da;
    border-color: #26c6da;
}

.cyan--text.text--lighten-1 {
    color: #26c6da;
    caret-color: #26c6da;
}

.cyan.darken-1 {
    background-color: #00acc1;
    border-color: #00acc1;
}

.cyan--text.text--darken-1 {
    color: #00acc1;
    caret-color: #00acc1;
}

.cyan.darken-2 {
    background-color: #0097a7;
    border-color: #0097a7;
}

.cyan--text.text--darken-2 {
    color: #0097a7;
    caret-color: #0097a7;
}

.cyan.darken-3 {
    background-color: #00838f;
    border-color: #00838f;
}

.cyan--text.text--darken-3 {
    color: #00838f;
    caret-color: #00838f;
}

.cyan.darken-4 {
    background-color: #006064;
    border-color: #006064;
}

.cyan--text.text--darken-4 {
    color: #006064;
    caret-color: #006064;
}

.cyan.accent-1 {
    background-color: #84ffff;
    border-color: #84ffff;
}

.cyan--text.text--accent-1 {
    color: #84ffff;
    caret-color: #84ffff;
}

.cyan.accent-2 {
    background-color: #18ffff;
    border-color: #18ffff;
}

.cyan--text.text--accent-2 {
    color: #18ffff;
    caret-color: #18ffff;
}

.cyan.accent-3 {
    background-color: #00e5ff;
    border-color: #00e5ff;
}

.cyan--text.text--accent-3 {
    color: #00e5ff;
    caret-color: #00e5ff;
}

.cyan.accent-4 {
    background-color: #00b8d4;
    border-color: #00b8d4;
}

.cyan--text.text--accent-4 {
    color: #00b8d4;
    caret-color: #00b8d4;
}

.teal {
    background-color: #009688;
    border-color: #009688;
}

.teal--text {
    color: #009688;
    caret-color: #009688;
}

.teal.lighten-5 {
    background-color: #e0f2f1;
    border-color: #e0f2f1;
}

.teal--text.text--lighten-5 {
    color: #e0f2f1;
    caret-color: #e0f2f1;
}

.teal.lighten-4 {
    background-color: #b2dfdb;
    border-color: #b2dfdb;
}

.teal--text.text--lighten-4 {
    color: #b2dfdb;
    caret-color: #b2dfdb;
}

.teal.lighten-3 {
    background-color: #80cbc4;
    border-color: #80cbc4;
}

.teal--text.text--lighten-3 {
    color: #80cbc4;
    caret-color: #80cbc4;
}

.teal.lighten-2 {
    background-color: #4db6ac;
    border-color: #4db6ac;
}

.teal--text.text--lighten-2 {
    color: #4db6ac;
    caret-color: #4db6ac;
}

.teal.lighten-1 {
    background-color: #26a69a;
    border-color: #26a69a;
}

.teal--text.text--lighten-1 {
    color: #26a69a;
    caret-color: #26a69a;
}

.teal.darken-1 {
    background-color: #00897b;
    border-color: #00897b;
}

.teal--text.text--darken-1 {
    color: #00897b;
    caret-color: #00897b;
}

.teal.darken-2 {
    background-color: #00796b;
    border-color: #00796b;
}

.teal--text.text--darken-2 {
    color: #00796b;
    caret-color: #00796b;
}

.teal.darken-3 {
    background-color: #00695c;
    border-color: #00695c;
}

.teal--text.text--darken-3 {
    color: #00695c;
    caret-color: #00695c;
}

.teal.darken-4 {
    background-color: #004d40;
    border-color: #004d40;
}

.teal--text.text--darken-4 {
    color: #004d40;
    caret-color: #004d40;
}

.teal.accent-1 {
    background-color: #a7ffeb;
    border-color: #a7ffeb;
}

.teal--text.text--accent-1 {
    color: #a7ffeb;
    caret-color: #a7ffeb;
}

.teal.accent-2 {
    background-color: #64ffda;
    border-color: #64ffda;
}

.teal--text.text--accent-2 {
    color: #64ffda;
    caret-color: #64ffda;
}

.teal.accent-3 {
    background-color: #1de9b6;
    border-color: #1de9b6;
}

.teal--text.text--accent-3 {
    color: #1de9b6;
    caret-color: #1de9b6;
}

.teal.accent-4 {
    background-color: #00bfa5;
    border-color: #00bfa5;
}

.teal--text.text--accent-4 {
    color: #00bfa5;
    caret-color: #00bfa5;
}

.green {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.green--text {
    color: #4CAF50;
    caret-color: #4CAF50;
}

.green.lighten-5 {
    background-color: #E8F5E9;
    border-color: #E8F5E9;
}

.green--text.text--lighten-5 {
    color: #E8F5E9;
    caret-color: #E8F5E9;
}

.green.lighten-4 {
    background-color: #C8E6C9;
    border-color: #C8E6C9;
}

.green--text.text--lighten-4 {
    color: #C8E6C9;
    caret-color: #C8E6C9;
}

.green.lighten-3 {
    background-color: #A5D6A7;
    border-color: #A5D6A7;
}

.green--text.text--lighten-3 {
    color: #A5D6A7;
    caret-color: #A5D6A7;
}

.green.lighten-2 {
    background-color: #81C784;
    border-color: #81C784;
}

.green--text.text--lighten-2 {
    color: #81C784;
    caret-color: #81C784;
}

.green.lighten-1 {
    background-color: #66BB6A;
    border-color: #66BB6A;
}

.green--text.text--lighten-1 {
    color: #66BB6A;
    caret-color: #66BB6A;
}

.green.darken-1 {
    background-color: #43A047;
    border-color: #43A047;
}

.green--text.text--darken-1 {
    color: #43A047;
    caret-color: #43A047;
}

.green.darken-2 {
    background-color: #388E3C;
    border-color: #388E3C;
}

.green--text.text--darken-2 {
    color: #388E3C;
    caret-color: #388E3C;
}

.green.darken-3 {
    background-color: #2E7D32;
    border-color: #2E7D32;
}

.green--text.text--darken-3 {
    color: #2E7D32;
    caret-color: #2E7D32;
}

.green.darken-4 {
    background-color: #1B5E20;
    border-color: #1B5E20;
}

.green--text.text--darken-4 {
    color: #1B5E20;
    caret-color: #1B5E20;
}

.green.accent-1 {
    background-color: #B9F6CA;
    border-color: #B9F6CA;
}

.green--text.text--accent-1 {
    color: #B9F6CA;
    caret-color: #B9F6CA;
}

.green.accent-2 {
    background-color: #69F0AE;
    border-color: #69F0AE;
}

.green--text.text--accent-2 {
    color: #69F0AE;
    caret-color: #69F0AE;
}

.green.accent-3 {
    background-color: #00E676;
    border-color: #00E676;
}

.green--text.text--accent-3 {
    color: #00E676;
    caret-color: #00E676;
}

.green.accent-4 {
    background-color: #00C853;
    border-color: #00C853;
}

.green--text.text--accent-4 {
    color: #00C853;
    caret-color: #00C853;
}

.light-green {
    background-color: #8bc34a;
    border-color: #8bc34a;
}

.light-green--text {
    color: #8bc34a;
    caret-color: #8bc34a;
}

.light-green.lighten-5 {
    background-color: #f1f8e9;
    border-color: #f1f8e9;
}

.light-green--text.text--lighten-5 {
    color: #f1f8e9;
    caret-color: #f1f8e9;
}

.light-green.lighten-4 {
    background-color: #dcedc8;
    border-color: #dcedc8;
}

.light-green--text.text--lighten-4 {
    color: #dcedc8;
    caret-color: #dcedc8;
}

.light-green.lighten-3 {
    background-color: #c5e1a5;
    border-color: #c5e1a5;
}

.light-green--text.text--lighten-3 {
    color: #c5e1a5;
    caret-color: #c5e1a5;
}

.light-green.lighten-2 {
    background-color: #aed581;
    border-color: #aed581;
}

.light-green--text.text--lighten-2 {
    color: #aed581;
    caret-color: #aed581;
}

.light-green.lighten-1 {
    background-color: #9ccc65;
    border-color: #9ccc65;
}

.light-green--text.text--lighten-1 {
    color: #9ccc65;
    caret-color: #9ccc65;
}

.light-green.darken-1 {
    background-color: #7cb342;
    border-color: #7cb342;
}

.light-green--text.text--darken-1 {
    color: #7cb342;
    caret-color: #7cb342;
}

.light-green.darken-2 {
    background-color: #689f38;
    border-color: #689f38;
}

.light-green--text.text--darken-2 {
    color: #689f38;
    caret-color: #689f38;
}

.light-green.darken-3 {
    background-color: #558b2f;
    border-color: #558b2f;
}

.light-green--text.text--darken-3 {
    color: #558b2f;
    caret-color: #558b2f;
}

.light-green.darken-4 {
    background-color: #33691e;
    border-color: #33691e;
}

.light-green--text.text--darken-4 {
    color: #33691e;
    caret-color: #33691e;
}

.light-green.accent-1 {
    background-color: #ccff90;
    border-color: #ccff90;
}

.light-green--text.text--accent-1 {
    color: #ccff90;
    caret-color: #ccff90;
}

.light-green.accent-2 {
    background-color: #b2ff59;
    border-color: #b2ff59;
}

.light-green--text.text--accent-2 {
    color: #b2ff59;
    caret-color: #b2ff59;
}

.light-green.accent-3 {
    background-color: #76ff03;
    border-color: #76ff03;
}

.light-green--text.text--accent-3 {
    color: #76ff03;
    caret-color: #76ff03;
}

.light-green.accent-4 {
    background-color: #64dd17;
    border-color: #64dd17;
}

.light-green--text.text--accent-4 {
    color: #64dd17;
    caret-color: #64dd17;
}

.lime {
    background-color: #cddc39;
    border-color: #cddc39;
}

.lime--text {
    color: #cddc39;
    caret-color: #cddc39;
}

.lime.lighten-5 {
    background-color: #f9fbe7;
    border-color: #f9fbe7;
}

.lime--text.text--lighten-5 {
    color: #f9fbe7;
    caret-color: #f9fbe7;
}

.lime.lighten-4 {
    background-color: #f0f4c3;
    border-color: #f0f4c3;
}

.lime--text.text--lighten-4 {
    color: #f0f4c3;
    caret-color: #f0f4c3;
}

.lime.lighten-3 {
    background-color: #e6ee9c;
    border-color: #e6ee9c;
}

.lime--text.text--lighten-3 {
    color: #e6ee9c;
    caret-color: #e6ee9c;
}

.lime.lighten-2 {
    background-color: #dce775;
    border-color: #dce775;
}

.lime--text.text--lighten-2 {
    color: #dce775;
    caret-color: #dce775;
}

.lime.lighten-1 {
    background-color: #d4e157;
    border-color: #d4e157;
}

.lime--text.text--lighten-1 {
    color: #d4e157;
    caret-color: #d4e157;
}

.lime.darken-1 {
    background-color: #c0ca33;
    border-color: #c0ca33;
}

.lime--text.text--darken-1 {
    color: #c0ca33;
    caret-color: #c0ca33;
}

.lime.darken-2 {
    background-color: #afb42b;
    border-color: #afb42b;
}

.lime--text.text--darken-2 {
    color: #afb42b;
    caret-color: #afb42b;
}

.lime.darken-3 {
    background-color: #9e9d24;
    border-color: #9e9d24;
}

.lime--text.text--darken-3 {
    color: #9e9d24;
    caret-color: #9e9d24;
}

.lime.darken-4 {
    background-color: #827717;
    border-color: #827717;
}

.lime--text.text--darken-4 {
    color: #827717;
    caret-color: #827717;
}

.lime.accent-1 {
    background-color: #f4ff81;
    border-color: #f4ff81;
}

.lime--text.text--accent-1 {
    color: #f4ff81;
    caret-color: #f4ff81;
}

.lime.accent-2 {
    background-color: #eeff41;
    border-color: #eeff41;
}

.lime--text.text--accent-2 {
    color: #eeff41;
    caret-color: #eeff41;
}

.lime.accent-3 {
    background-color: #c6ff00;
    border-color: #c6ff00;
}

.lime--text.text--accent-3 {
    color: #c6ff00;
    caret-color: #c6ff00;
}

.lime.accent-4 {
    background-color: #aeea00;
    border-color: #aeea00;
}

.lime--text.text--accent-4 {
    color: #aeea00;
    caret-color: #aeea00;
}

.yellow {
    background-color: #ffeb3b;
    border-color: #ffeb3b;
}

.yellow--text {
    color: #ffeb3b;
    caret-color: #ffeb3b;
}

.yellow.lighten-5 {
    background-color: #fffde7;
    border-color: #fffde7;
}

.yellow--text.text--lighten-5 {
    color: #fffde7;
    caret-color: #fffde7;
}

.yellow.lighten-4 {
    background-color: #fff9c4;
    border-color: #fff9c4;
}

.yellow--text.text--lighten-4 {
    color: #fff9c4;
    caret-color: #fff9c4;
}

.yellow.lighten-3 {
    background-color: #fff59d;
    border-color: #fff59d;
}

.yellow--text.text--lighten-3 {
    color: #fff59d;
    caret-color: #fff59d;
}

.yellow.lighten-2 {
    background-color: #fff176;
    border-color: #fff176;
}

.yellow--text.text--lighten-2 {
    color: #fff176;
    caret-color: #fff176;
}

.yellow.lighten-1 {
    background-color: #ffee58;
    border-color: #ffee58;
}

.yellow--text.text--lighten-1 {
    color: #ffee58;
    caret-color: #ffee58;
}

.yellow.darken-1 {
    background-color: #fdd835;
    border-color: #fdd835;
}

.yellow--text.text--darken-1 {
    color: #fdd835;
    caret-color: #fdd835;
}

.yellow.darken-2 {
    background-color: #fbc02d;
    border-color: #fbc02d;
}

.yellow--text.text--darken-2 {
    color: #fbc02d;
    caret-color: #fbc02d;
}

.yellow.darken-3 {
    background-color: #f9a825;
    border-color: #f9a825;
}

.yellow--text.text--darken-3 {
    color: #f9a825;
    caret-color: #f9a825;
}

.yellow.darken-4 {
    background-color: #f57f17;
    border-color: #f57f17;
}

.yellow--text.text--darken-4 {
    color: #f57f17;
    caret-color: #f57f17;
}

.yellow.accent-1 {
    background-color: #ffff8d;
    border-color: #ffff8d;
}

.yellow--text.text--accent-1 {
    color: #ffff8d;
    caret-color: #ffff8d;
}

.yellow.accent-2 {
    background-color: #ffff00;
    border-color: #ffff00;
}

.yellow--text.text--accent-2 {
    color: #ffff00;
    caret-color: #ffff00;
}

.yellow.accent-3 {
    background-color: #ffea00;
    border-color: #ffea00;
}

.yellow--text.text--accent-3 {
    color: #ffea00;
    caret-color: #ffea00;
}

.yellow.accent-4 {
    background-color: #ffd600;
    border-color: #ffd600;
}

.yellow--text.text--accent-4 {
    color: #ffd600;
    caret-color: #ffd600;
}

.amber {
    background-color: #ffc107;
    border-color: #ffc107;
}

.amber--text {
    color: #ffc107;
    caret-color: #ffc107;
}

.amber.lighten-5 {
    background-color: #fff8e1;
    border-color: #fff8e1;
}

.amber--text.text--lighten-5 {
    color: #fff8e1;
    caret-color: #fff8e1;
}

.amber.lighten-4 {
    background-color: #ffecb3;
    border-color: #ffecb3;
}

.amber--text.text--lighten-4 {
    color: #ffecb3;
    caret-color: #ffecb3;
}

.amber.lighten-3 {
    background-color: #ffe082;
    border-color: #ffe082;
}

.amber--text.text--lighten-3 {
    color: #ffe082;
    caret-color: #ffe082;
}

.amber.lighten-2 {
    background-color: #ffd54f;
    border-color: #ffd54f;
}

.amber--text.text--lighten-2 {
    color: #ffd54f;
    caret-color: #ffd54f;
}

.amber.lighten-1 {
    background-color: #ffca28;
    border-color: #ffca28;
}

.amber--text.text--lighten-1 {
    color: #ffca28;
    caret-color: #ffca28;
}

.amber.darken-1 {
    background-color: #ffb300;
    border-color: #ffb300;
}

.amber--text.text--darken-1 {
    color: #ffb300;
    caret-color: #ffb300;
}

.amber.darken-2 {
    background-color: #ffa000;
    border-color: #ffa000;
}

.amber--text.text--darken-2 {
    color: #ffa000;
    caret-color: #ffa000;
}

.amber.darken-3 {
    background-color: #ff8f00;
    border-color: #ff8f00;
}

.amber--text.text--darken-3 {
    color: #ff8f00;
    caret-color: #ff8f00;
}

.amber.darken-4 {
    background-color: #ff6f00;
    border-color: #ff6f00;
}

.amber--text.text--darken-4 {
    color: #ff6f00;
    caret-color: #ff6f00;
}

.amber.accent-1 {
    background-color: #ffe57f;
    border-color: #ffe57f;
}

.amber--text.text--accent-1 {
    color: #ffe57f;
    caret-color: #ffe57f;
}

.amber.accent-2 {
    background-color: #ffd740;
    border-color: #ffd740;
}

.amber--text.text--accent-2 {
    color: #ffd740;
    caret-color: #ffd740;
}

.amber.accent-3 {
    background-color: #ffc400;
    border-color: #ffc400;
}

.amber--text.text--accent-3 {
    color: #ffc400;
    caret-color: #ffc400;
}

.amber.accent-4 {
    background-color: #ffab00;
    border-color: #ffab00;
}

.amber--text.text--accent-4 {
    color: #ffab00;
    caret-color: #ffab00;
}

.orange {
    background-color: #ff9800;
    border-color: #ff9800;
}

.orange--text {
    color: #ff9800;
    caret-color: #ff9800;
}

.orange.lighten-5 {
    background-color: #fff3e0;
    border-color: #fff3e0;
}

.orange--text.text--lighten-5 {
    color: #fff3e0;
    caret-color: #fff3e0;
}

.orange.lighten-4 {
    background-color: #ffe0b2;
    border-color: #ffe0b2;
}

.orange--text.text--lighten-4 {
    color: #ffe0b2;
    caret-color: #ffe0b2;
}

.orange.lighten-3 {
    background-color: #ffcc80;
    border-color: #ffcc80;
}

.orange--text.text--lighten-3 {
    color: #ffcc80;
    caret-color: #ffcc80;
}

.orange.lighten-2 {
    background-color: #ffb74d;
    border-color: #ffb74d;
}

.orange--text.text--lighten-2 {
    color: #ffb74d;
    caret-color: #ffb74d;
}

.orange.lighten-1 {
    background-color: #ffa726;
    border-color: #ffa726;
}

.orange--text.text--lighten-1 {
    color: #ffa726;
    caret-color: #ffa726;
}

.orange.darken-1 {
    background-color: #fb8c00;
    border-color: #fb8c00;
}

.orange--text.text--darken-1 {
    color: #fb8c00;
    caret-color: #fb8c00;
}

.orange.darken-2 {
    background-color: #f57c00;
    border-color: #f57c00;
}

.orange--text.text--darken-2 {
    color: #f57c00;
    caret-color: #f57c00;
}

.orange.darken-3 {
    background-color: #ef6c00;
    border-color: #ef6c00;
}

.orange--text.text--darken-3 {
    color: #ef6c00;
    caret-color: #ef6c00;
}

.orange.darken-4 {
    background-color: #e65100;
    border-color: #e65100;
}

.orange--text.text--darken-4 {
    color: #e65100;
    caret-color: #e65100;
}

.orange.accent-1 {
    background-color: #ffd180;
    border-color: #ffd180;
}

.orange--text.text--accent-1 {
    color: #ffd180;
    caret-color: #ffd180;
}

.orange.accent-2 {
    background-color: #ffab40;
    border-color: #ffab40;
}

.orange--text.text--accent-2 {
    color: #ffab40;
    caret-color: #ffab40;
}

.orange.accent-3 {
    background-color: #ff9100;
    border-color: #ff9100;
}

.orange--text.text--accent-3 {
    color: #ff9100;
    caret-color: #ff9100;
}

.orange.accent-4 {
    background-color: #ff6d00;
    border-color: #ff6d00;
}

.orange--text.text--accent-4 {
    color: #ff6d00;
    caret-color: #ff6d00;
}

.deep-orange {
    background-color: #ff5722;
    border-color: #ff5722;
}

.deep-orange--text {
    color: #ff5722;
    caret-color: #ff5722;
}

.deep-orange.lighten-5 {
    background-color: #fbe9e7;
    border-color: #fbe9e7;
}

.deep-orange--text.text--lighten-5 {
    color: #fbe9e7;
    caret-color: #fbe9e7;
}

.deep-orange.lighten-4 {
    background-color: #ffccbc;
    border-color: #ffccbc;
}

.deep-orange--text.text--lighten-4 {
    color: #ffccbc;
    caret-color: #ffccbc;
}

.deep-orange.lighten-3 {
    background-color: #ffab91;
    border-color: #ffab91;
}

.deep-orange--text.text--lighten-3 {
    color: #ffab91;
    caret-color: #ffab91;
}

.deep-orange.lighten-2 {
    background-color: #ff8a65;
    border-color: #ff8a65;
}

.deep-orange--text.text--lighten-2 {
    color: #ff8a65;
    caret-color: #ff8a65;
}

.deep-orange.lighten-1 {
    background-color: #ff7043;
    border-color: #ff7043;
}

.deep-orange--text.text--lighten-1 {
    color: #ff7043;
    caret-color: #ff7043;
}

.deep-orange.darken-1 {
    background-color: #f4511e;
    border-color: #f4511e;
}

.deep-orange--text.text--darken-1 {
    color: #f4511e;
    caret-color: #f4511e;
}

.deep-orange.darken-2 {
    background-color: #e64a19;
    border-color: #e64a19;
}

.deep-orange--text.text--darken-2 {
    color: #e64a19;
    caret-color: #e64a19;
}

.deep-orange.darken-3 {
    background-color: #d84315;
    border-color: #d84315;
}

.deep-orange--text.text--darken-3 {
    color: #d84315;
    caret-color: #d84315;
}

.deep-orange.darken-4 {
    background-color: #bf360c;
    border-color: #bf360c;
}

.deep-orange--text.text--darken-4 {
    color: #bf360c;
    caret-color: #bf360c;
}

.deep-orange.accent-1 {
    background-color: #ff9e80;
    border-color: #ff9e80;
}

.deep-orange--text.text--accent-1 {
    color: #ff9e80;
    caret-color: #ff9e80;
}

.deep-orange.accent-2 {
    background-color: #ff6e40;
    border-color: #ff6e40;
}

.deep-orange--text.text--accent-2 {
    color: #ff6e40;
    caret-color: #ff6e40;
}

.deep-orange.accent-3 {
    background-color: #ff3d00;
    border-color: #ff3d00;
}

.deep-orange--text.text--accent-3 {
    color: #ff3d00;
    caret-color: #ff3d00;
}

.deep-orange.accent-4 {
    background-color: #dd2c00;
    border-color: #dd2c00;
}

.deep-orange--text.text--accent-4 {
    color: #dd2c00;
    caret-color: #dd2c00;
}

.brown {
    background-color: #795548;
    border-color: #795548;
}

.brown--text {
    color: #795548;
    caret-color: #795548;
}

.brown.lighten-5 {
    background-color: #efebe9;
    border-color: #efebe9;
}

.brown--text.text--lighten-5 {
    color: #efebe9;
    caret-color: #efebe9;
}

.brown.lighten-4 {
    background-color: #d7ccc8;
    border-color: #d7ccc8;
}

.brown--text.text--lighten-4 {
    color: #d7ccc8;
    caret-color: #d7ccc8;
}

.brown.lighten-3 {
    background-color: #bcaaa4;
    border-color: #bcaaa4;
}

.brown--text.text--lighten-3 {
    color: #bcaaa4;
    caret-color: #bcaaa4;
}

.brown.lighten-2 {
    background-color: #a1887f;
    border-color: #a1887f;
}

.brown--text.text--lighten-2 {
    color: #a1887f;
    caret-color: #a1887f;
}

.brown.lighten-1 {
    background-color: #8d6e63;
    border-color: #8d6e63;
}

.brown--text.text--lighten-1 {
    color: #8d6e63;
    caret-color: #8d6e63;
}

.brown.darken-1 {
    background-color: #6d4c41;
    border-color: #6d4c41;
}

.brown--text.text--darken-1 {
    color: #6d4c41;
    caret-color: #6d4c41;
}

.brown.darken-2 {
    background-color: #5d4037;
    border-color: #5d4037;
}

.brown--text.text--darken-2 {
    color: #5d4037;
    caret-color: #5d4037;
}

.brown.darken-3 {
    background-color: #4e342e;
    border-color: #4e342e;
}

.brown--text.text--darken-3 {
    color: #4e342e;
    caret-color: #4e342e;
}

.brown.darken-4 {
    background-color: #3e2723;
    border-color: #3e2723;
}

.brown--text.text--darken-4 {
    color: #3e2723;
    caret-color: #3e2723;
}

.blue-grey {
    background-color: #607d8b;
    border-color: #607d8b;
}

.blue-grey--text {
    color: #607d8b;
    caret-color: #607d8b;
}

.blue-grey.lighten-5 {
    background-color: #eceff1;
    border-color: #eceff1;
}

.blue-grey--text.text--lighten-5 {
    color: #eceff1;
    caret-color: #eceff1;
}

.blue-grey.lighten-4 {
    background-color: #cfd8dc;
    border-color: #cfd8dc;
}

.blue-grey--text.text--lighten-4 {
    color: #cfd8dc;
    caret-color: #cfd8dc;
}

.blue-grey.lighten-3 {
    background-color: #b0bec5;
    border-color: #b0bec5;
}

.blue-grey--text.text--lighten-3 {
    color: #b0bec5;
    caret-color: #b0bec5;
}

.blue-grey.lighten-2 {
    background-color: #90a4ae;
    border-color: #90a4ae;
}

.blue-grey--text.text--lighten-2 {
    color: #90a4ae;
    caret-color: #90a4ae;
}

.blue-grey.lighten-1 {
    background-color: #78909c;
    border-color: #78909c;
}

.blue-grey--text.text--lighten-1 {
    color: #78909c;
    caret-color: #78909c;
}

.blue-grey.darken-1 {
    background-color: #546e7a;
    border-color: #546e7a;
}

.blue-grey--text.text--darken-1 {
    color: #546e7a;
    caret-color: #546e7a;
}

.blue-grey.darken-2 {
    background-color: #455a64;
    border-color: #455a64;
}

.blue-grey--text.text--darken-2 {
    color: #455a64;
    caret-color: #455a64;
}

.blue-grey.darken-3 {
    background-color: #37474f;
    border-color: #37474f;
}

.blue-grey--text.text--darken-3 {
    color: #37474f;
    caret-color: #37474f;
}

.blue-grey.darken-4 {
    background-color: #263238;
    border-color: #263238;
}

.blue-grey--text.text--darken-4 {
    color: #263238;
    caret-color: #263238;
}

.grey {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
}

.grey--text {
    color: #9e9e9e;
    caret-color: #9e9e9e;
}

.grey.lighten-5 {
    background-color: #fafafa;
    border-color: #fafafa;
}

.grey--text.text--lighten-5 {
    color: #fafafa;
    caret-color: #fafafa;
}

.grey.lighten-4 {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.grey--text.text--lighten-4 {
    color: #f5f5f5;
    caret-color: #f5f5f5;
}

.grey.lighten-3 {
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.grey--text.text--lighten-3 {
    color: #eeeeee;
    caret-color: #eeeeee;
}

.grey.lighten-2 {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.grey--text.text--lighten-2 {
    color: #e0e0e0;
    caret-color: #e0e0e0;
}

.grey.lighten-1 {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.grey--text.text--lighten-1 {
    color: #bdbdbd;
    caret-color: #bdbdbd;
}

.grey.darken-1 {
    background-color: #757575;
    border-color: #757575;
}

.grey--text.text--darken-1 {
    color: #757575;
    caret-color: #757575;
}

.grey.darken-2 {
    background-color: #616161;
    border-color: #616161;
}

.grey--text.text--darken-2 {
    color: #616161;
    caret-color: #616161;
}

.grey.darken-3 {
    background-color: #424242;
    border-color: #424242;
}

.grey--text.text--darken-3 {
    color: #424242;
    caret-color: #424242;
}

.grey.darken-4 {
    background-color: #212121;
    border-color: #212121;
}

.grey--text.text--darken-4 {
    color: #212121;
    caret-color: #212121;
}